<body>
    <template id="base-panel-template">
        <head>
            <link rel="stylesheet" href="styles/app.css" />
        </head>
        <div part="panel-body" class="panel-body">
            <div part="panel-content" class="panel-content">
                <slot name="panel-type-template"></slot>
                <div class="skeleton">
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                </div>
            </div>
            <div part="config" class="config" hidden>
                <div
                    part="config-button icon-button"
                    class="icon-button config-button"
                    hidden
                >
                    <div
                        part="config-button-icon button-icon config-icon"
                        class="icon config-icon config-button-icon button-icon"
                    ></div>
                </div>
                <div part="config-menu" class="config-menu"></div>
            </div>
            <div
                part="delete-button icon-button"
                class="delete-button icon-button"
            >
                <div
                    part="delete-button-icon button-icon delete-icon"
                    class="icon delete-icon delete-button-icon button-icon"
                ></div>
            </div>
            <div class="handles">
                <div
                    part="handle drag-handle"
                    class="handle drag-handle glassy"
                >
                    <object
                        part="handle-icon"
                        data="assets/graphics/arrows-alt.svg"
                        type="image/svg+xml"
                    ></object>
                </div>
                <svg
                    class="corner handle resize-handle-svg"
                    part="handle resize-handle-svg"
                    width="200"
                    height="200"
                >
                    <circle
                        class="corner-arc rendered resize-handle"
                        part="resize-handle rendered"
                    />
                </svg>
            </div>
            <div class="save-icon-container" part="save-icon-container">
                <div part="icon save-icon" class="icon save-icon"></div>
            </div>
        </div>
    </template>
</body>
