<body>
    <template id="photo-panel-template">
        <div slot="panel-type-template">
            <div class="drop-area">
                <label class="image-upload">
                    <div class="icon image-drop-icon"></div>
                    <input
                        class="image-upload-input"
                        id=""
                        type="file"
                        name=""
                    />
                </label>
                <p>
                    <span class="drop-area-info drop-area-text"
                        >Drop or Upload!</span
                    >
                </p>
                <p>
                    <span class="drop-area-subinfo drop-area-text"
                        >Supports: <code>.png</code>, <code>.jpg/.jpeg</code>,
                        <code>.bmp</code>, <code>.gif</code>, &
                        <code>.webp</code></span
                    >
                </p>
            </div>
            <img class="panel-image" src="" alt="" />
        </div>
    </template>
</body>
