<body>
    <template id="photo-panel-template">
        <div slot="panel-type-template">
            <div class="drop-area">
                <div class="icon image-drop-icon"></div>
                <p>
                    <span class="drop-area-info drop-area-text"
                        >Drag and Drop or Upload an image!</span
                    >
                </p>
                <div class="info-and-input">
                    <p>
                        <span class="drop-area-subinfo drop-area-text"
                            >Supports: <code>.png</code>,
                            <code>.jpg/.jpeg</code>, <code>.bmp</code>,
                            <code>.gif</code>, & <code>.webp</code></span
                        >
                    </p>
                    <label class="image-upload-input">
                        <div class="icon upload-icon"></div>
                        <input type="file" name="" id="" />
                    </label>
                </div>
            </div>
            <img src="" alt="" class="panel-image" />
        </div>
    </template>
</body>
