:root {
    --theme: default;
    --num-of-rows: 5;
    --num-of-cols: 5;


    --panel-body-inset: 0.5rem;
    --panel-content-padding: 2rem;
    --panel-border-radius: 2rem;

    --panel-manip-opacity: 0.5;

    --quick-transition-time: 0.2s;

    --panel-transition-time: var(--quick-transition-time);

    --square-handle-full-side: 5rem;
}

* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {

    overflow: hidden;
}

smorgas-board {
    min-width: 100vw;
    min-height: 100vh;

    &::part(cell-container) {
        background: var(--dashboard-bg);
        position: absolute;
        inset: 0;
        display: grid;
        grid-template: repeat(var(--num-of-rows), 1fr) / repeat(var(--num-of-cols), 1fr);
    }

    & .final-preview {
        background: var(--preview-bg);
        opacity: 0;

        position: absolute;

        left: calc(var(--x));
        top: calc(var(--y));
        width: var(--width);
        height: var(--height);


        border-radius: 2rem;

        &:has(~ .being-dragged),
        &:has(~ .being-resized) {
            opacity: 1;
        }

        &.snapping {
            transition: var(--panel-transition-time) ease;
        }

        &.visible {
            opacity: 1;
        }
    }

    & panel-element {

        --min-width: 2fr;
        --min-height: 1fr;

        /* --forced-aspect-ratio: 1:2; */
        transition: filter var(--panel-transition-time) ease;

        position: fixed;
        left: calc(var(--x));
        top: calc(var(--y));
        width: var(--width);
        height: var(--height);
        overflow: visible;

        &::part(panel-body) {
            transform:
                rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
            border-radius: var(--panel-border-radius);
            background: var(--panel-bg);
            position: absolute;
            inset: var(--panel-body-inset);
            transition: all var(--panel-transition-time) ease;
        }

        &:hover {

            &::part(panel-body) {
                filter: drop-shadow(var(--shadow-offset-x) 1rem 0.2rem rgb(from black r g b / 0.2));
            }

            &::part(panel-body)::after {
                transition: var(--quick-transition-time);
                /* background: radial-gradient(rgba(255, 255, 255, 0.36), transparent, transparent); */
                content: '';
                width: 20rem;
                height: 20rem;
                pointer-events: none;
                position: absolute;
                bottom: var(--shadow-offset-y);
                right: var(--shadow-offset-x);
            }
        }

        &::part(panel-body in-motion) {
            transition: 0s;
        }

        &:has(::part(drag-handle):hover):not(.being-dragged) {
            filter: brightness(1.2);
        }

        &.being-manipulated {
            opacity: var(--panel-manip-opacity);
            z-index: 1;

            &.being-dragged {
                transition: all var(--panel-transition-time) ease, left 0s, top 0s;

                filter: brightness(0.8) drop-shadow(1.5rem 1.5rem 2rem black);
                scale: 1.2;

                &::part(drag-handle) {
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                }
            }

            &.being-resized {
                transition: all var(--panel-transition-time) ease, width 0s, height 0s;

                &::part(resize-handle) {
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                }
            }

            pointer-events: none;
        }

        &.snapping:not(.final-preview) {
            z-index: 1;
            transition: var(--panel-transition-time) ease;
        }

        &::part(panel-content) {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--panel-content-padding);
            border-radius: var(--panel-border-radius);
            overflow: hidden;
        }

        &::part(handle) {
            border-radius: var(--panel-border-radius);
            width: 0;
            height: 0;
            padding: 0;
            position: absolute;
            transition: var(--panel-transition-time) ease;
            user-select: none;
            box-sizing: border-box;
            background: var(--panel-handle-bg);
        }

        &::part(handle):hover {
            width: var(--square-handle-full-side);
            height: var(--square-handle-full-side);
        }

        &::part(resize-handle) {
            bottom: 0;
            right: 0;
            rotate: 90deg;
        }

        &::part(handle-icon) {
            width: 100%;
            pointer-events: none;
        }
    }

    &::part(cell) {
        border-radius: 2rem;
        margin: 1rem;
        opacity: 0.1;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        background: var(--cell-bg);
        transition: var(--quick-transition-time) ease;
    }

    &.in-edit-mode {
        & ::part(handle) {
            height: 2rem;
            width: 2rem;
            padding: 1rem;
        }

        &::part(cell) {
            opacity: 1;
        }
    }
}

panel-element {
    &[data-panel-type="NOTEPAD"] {
        &::part(panel-content) {
            flex-direction: column;
            align-items: stretch;
        }

        &::part(notepad-textarea) {
            transition: var(--quick-transition-time);
            resize: none;
            background: var(--textarea-bg);
            height: 100%;
            outline: none;
            font-family: inherit;
            color: var(--text-col);
            border-radius: var(--small-border-radius);
            border: none;
        }

        &::part(notepad-textarea):focus {
            background: hsl(from var(--textarea-bg) h s calc(l * 0.9));
        }

        &::part(notepad-textarea)::placeholder {
            color: lch(from var(--text-col) calc(l*0.8) c h);
        }
    }
}

.context-menu {
    position: absolute;
    visibility: hidden;
    width: 20rem;
    height: 16rem;
    padding: 0.5rem;
    color: var(--text-col);

    .menu {
        position: absolute;
        border-radius: var(--small-border-radius);
        background: var(--panel-bg);
        filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.262));
        display: flex;
        margin: 0.5rem;
        width: 100%;
        flex-direction: column;
        transition: width var(--quick-transition-time) ease, background var(--quick-transition-time) ease;
        list-style: none;
        /* overflow: hidden; */


        & .item {
            transition: inherit;
            cursor: pointer;
            padding: 0.5rem;
            width: 100%;
            height: 3rem;
            border-radius: var(--small-border-radius);
            font-size: 2.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.2rem 0;
            max-height: min-content;
            overflow: visible;

            &:hover {
                background: var(--cell-bg);
            }

            & .item-icon {
                width: 2rem;
                height: 2rem;
                pointer-events: none;
                user-select: none;
                background-color: var(--text-col);
                -webkit-mask: var(--icon-svg) no-repeat center;
                mask: var(--icon-svg) no-repeat center;
                mask-size: contain;
            }

            & span {
                user-select: none;
            }

            & .theme-menu {
                position: absolute;
                width: 0;
                overflow: hidden;
            }

            &#theme-item:hover .theme-menu {
                width: inherit;
            }

            
        }

        & #remove-panel-section {

            transition: inherit;

            &:not(.visible) {
                visibility: hidden;
                height: 0;
                padding: 0;
                margin: 0;
            }
        }

        & a {
            display: inherit;
            transition: inherit;
            align-items: inherit;
            font-size: inherit;
            justify-content: inherit;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: inherit;
        }

        & .context-menu-spacer {
            height: 0.1rem;
            backdrop-filter: brightness(0.8);
        }
    }
}

.disappearing {
    animation: spawnIn reverse var(--panel-transition-time) ease !important;
}

@keyframes spawnIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}