:root {
    --theme: default;
    --num-of-rows: 5;
    --num-of-cols: 5;


    --panel-body-inset: 0.5rem;
    --panel-content-padding: 2rem;
    --panel-border-radius: 2rem;

    --panel-manip-opacity: 0.5;

    --quick-transition-time: 0.15s;
    --med-transition-time: 0.3s;

    --panel-transition-time: var(--med-transition-time);

    --square-handle-full-side: 5rem;

    --small-font: 1.5rem;
    --med-font: 5rem;

    --alert-button-size: 5rem;

    --bezier-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

smorgas-board {
    min-width: 100vw;
    min-height: 100vh;

    transition: background var(--med-transition-time) ease;

    &::part(cell-container) {
        background: var(--dashboard-bg);
        position: absolute;
        inset: 0;
        display: grid;
        grid-template: repeat(var(--num-of-rows), 1fr) / repeat(var(--num-of-cols), 1fr);
    }

    &::part(cell) {
        border-radius: 2rem;
        margin: 1rem;
        opacity: 0.1;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        background: var(--cell-bg);
        transition: var(--med-transition-time) ease;
    }

    & .final-preview {
        background: var(--preview-bg);
        opacity: 0;
        top: var(--y);
        left: var(--x);
        position: absolute;
        /* transform: translateX(var(--x)) translateY(var(--y)); */
        width: var(--width);
        height: var(--height);

        transition: opacity var(--panel-transition-time) ease;

        border-radius: 2rem;

        &:has(~ .being-dragged),
        &:has(~ .being-resized) {
            opacity: 1;
        }

        &.snapping {
            transition: var(--panel-transition-time) ease;
        }

        &.visible {
            opacity: 1;
        }
    }

    & panel-element {

        /* --forced-aspect-ratio: 1:2; */

        position: fixed;
        left: var(--x);
        top: var(--y);
        /* left: 0;
        top: 0; */
        width: var(--width);
        height: var(--height);
        /* clip-path: circle(0 at 50% 50%); */
        overflow: visible;
        transform-style: preserve-3d;
        transform: perspective(200rem);

        &::before {
            content: '';
            backdrop-filter: url(#glass-distortion);
            opacity: 0;
            position: absolute;
            inset: var(--panel-body-inset);
            border-radius: var(--panel-border-radius);
            transition: all var(--panel-transition-time) ease;
        }

        &::part(panel-body) {
            transform-style: preserve-3d;
            transform: perspective(200rem) rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
            border-radius: var(--panel-border-radius);
            background: var(--panel-bg);
            position: absolute;
            inset: var(--panel-body-inset);
            transition: all var(--panel-transition-time) ease;
        }

        &:hover::part(panel-body) {
            filter: drop-shadow(var(--shadow-offset-x) var(--shadow-offset-y) 0.2rem rgb(from black r g b / 0.2));

        }

        &::part(panel-body in-motion) {
            transition: 0s;
        }

        &.being-manipulated {
            z-index: 5;

            &::before {
                opacity: 1;
            }

            &::part(panel-body) {
                backdrop-filter: blur(1px);
                background-color: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
                filter: drop-shadow(1.5rem 1.5rem 2rem rgba(0, 0, 0, 0.459));
                box-shadow: inset 0.2rem 2px 5px 1px hsl(from var(--panel-bg) h s calc(l * 2) / 0.4), inset -2px -2px 5px 1px hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
            }

            &::part(panel-content) {
                filter: blur(1px);
                opacity: calc(var(--panel-manip-opacity) * 0.8);
            }

            &.being-dragged {
                transition: all var(--panel-transition-time) ease, left 0s, top 0s;

                scale: 1.1;

                &::part(drag-handle) {
                    opacity: var(--panel-manip-opacity);
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                }

                &::part(resize-handle) {
                    padding: 0;
                    width: 0;
                    height: 0;
                }
            }

            &.being-resized {
                transition: all var(--panel-transition-time) ease, width 0s, height 0s;

                &::part(resize-handle) {
                    opacity: var(--panel-manip-opacity);
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                }

                &::part(drag-handle) {
                    padding: 0;
                    width: 0;
                    height: 0;
                }
            }

            pointer-events: none;
        }

        &::before {
            transition: all var(--panel-transition-time) ease;
        }

        &.snapping:not(.final-preview) {
            z-index: 1;
            transition: var(--panel-transition-time) cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }

        &::part(panel-content) {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--panel-content-padding);
            border-radius: var(--panel-border-radius);
            /* overflow: hidden; */
            transition: all var(--panel-transition-time) ease;
            container-type: inline-size;
            transform-style: preserve-3d;
            /* transform: perspective(200rem) translateZ(5rem); */
        }

        &::part(handle) {
            border-radius: var(--panel-border-radius);
            width: 0;
            height: 0;
            padding: 0;
            position: absolute;
            transition: var(--panel-transition-time) ease;
            user-select: none;
            box-sizing: border-box;
            background: var(--panel-handle-bg);
        }

        &::part(handle):hover {
            width: var(--square-handle-full-side);
            height: var(--square-handle-full-side);
        }

        &::part(resize-handle) {
            bottom: 0;
            right: 0;
            rotate: 90deg;
        }

        &::part(handle-icon) {
            width: 100%;
            pointer-events: none;
        }

        /* &.loaded {
            animation: spawnIn forwards var(--panel-transition-time) ease;
        } */

        &:hover {
            z-index: 5;
        }
    }

    &.in-edit-mode {

        & ::part(panel-content) {
            pointer-events: none;
        }

        & ::part(handle) {
            height: 2rem;
            width: 2rem;
            padding: 1rem;
        }

        &::part(cell) {
            opacity: 1;
        }
    }

    &:has(.being-manipulated) panel-element:not(.being-manipulated) {
        pointer-events: none;
    }
}

panel-element {
    &[data-panel-type="NOTEPAD"] {

        --forced-aspect-ratio: 1:1;

        &::part(panel-content) {
            flex-direction: column;
            align-items: stretch;
        }

        & textarea {
            transition: var(--med-transition-time);
            padding: 1rem;
            resize: none;
            font-size: var(--small-font);
            background: var(--textarea-bg);
            height: 100%;
            outline: none;
            font-family: inherit;
            color: var(--text-col);
            border-radius: var(--small-border-radius);
            border: none;
        }

        & textarea:focus {
            background: hsl(from var(--textarea-bg) h s calc(l * 0.9));
        }

        & textarea::placeholder {
            color: lch(from var(--text-col) calc(l*0.8) c h);
        }
    }

    &[data-panel-type="CLOCK"] {

        color: var(--text-col);

        .date-time {
            position: absolute;
            inset: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            border-radius: var(--panel-border-radius);
            transform-style: preserve-3d;

            text-align: center;
            resize: horizontal;

            & .date {
                width: 100%;

                & span {
                    display: block;
                    width: 100%;
                    font-size: clamp(calc(var(--small-font) * 0.8), var(--small-font), 8cqw);
                }
            }

            & .time {
                width: 100%;

                & span {
                    display: block;
                    width: 100%;
                    font-size: clamp(calc(var(--med-font) * 0.7), var(--med-font), 50cqw);
                }
            }
        }
    }
}

.context-menu {
    position: absolute;
    height: 16rem;
    padding: 0.5rem;
    color: var(--text-col);
    width: 22rem;
    z-index: 10;

    & .menu {
        width: 22rem;
        position: absolute;
        border-radius: var(--small-border-radius);
        background: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
        filter: drop-shadow(0rem 0rem 0.5rem rgba(0 0 0 26.2%));
        display: flex;
        margin: 0.5rem;
        flex-direction: column;
        transition: width var(--med-transition-time) ease, background var(--med-transition-time) ease;
        list-style: none;
        font-size: var(--small-font);

        /* overflow: hidden; */


        & .item {
            transition: inherit;
            cursor: pointer;
            padding: 0.8rem;
            width: 100%;
            height: 3rem;
            border-radius: calc(var(--small-border-radius) * 0.8);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.2rem 0;
            max-height: min-content;
            overflow: visible;

            &:hover {
                background: var(--cell-bg);
            }

            & .icon {
                background-color: var(--text-col);
                transition: transform var(--med-transition-time) ease;

                &.menu-caret {
                    transform: rotate(90deg)
                }
            }

            & span {
                user-select: none;
                white-space: nowrap;
            }

            & .sub-menu {
                width: 0;
                overflow: hidden;
            }

            &#theme-item:hover,
            &#add-panel-item:hover {


                & .menu-caret {
                    transform: rotate(0deg);
                }

                & .sub-menu {
                    width: inherit;
                    backdrop-filter: inherit;
                    background: var(--panel-bg);
                }
            }


        }

        & #remove-panel-section {

            transition: inherit;

            &:not(.visible) {
                /* visibility: hidden; */
                height: 0;
                padding: 0;
                margin: 0;
                opacity: 0;
                pointer-events: none;
            }
        }

        & a {
            display: inherit;
            transition: inherit;
            align-items: inherit;
            font-size: inherit;
            justify-content: inherit;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: inherit;
        }

        & .context-menu-spacer {
            height: 0.1rem;
            backdrop-filter: brightness(0.8);
        }
    }

    &:not(.visible) {
        visibility: hidden;
    }
}

.alert {
    gap: 1rem;
    background: var(--alert-bg);
    border-radius: var(--small-border-radius);
    position: fixed;
    right: -100%;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: stretch;
    max-width: 50vw;
    min-height: var(--alert-button-size);
    overflow: hidden;
    font-size: var(--small-font);
    transition: var(--med-transition-time) cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 0 1rem 0 var(--cell-bg);

    --alert-accent: hsl(from var(--alert-bg) h s calc(l * 0.8));

    & .alert-info {
        font-size: inherit;
        padding: 1rem;
        padding-right: calc(var(--alert-button-size) + 1rem);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        gap: 1rem;
        border-left: 1rem solid var(--alert-accent);

        & .alert-icon {
            background: var(--alert-accent);
            padding: 1.5rem;
        }
    }

    & .alert-buttons {
        position: absolute;
        min-width: var(--alert-button-size);
        height: 100%;
        right: 0;
    }

    & .close-alert-button {
        cursor: pointer;
        background: var(--alert-accent);
        border: none;
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & .close-alert-icon {
            background: var(--alert-bg);
        }

        &:hover {
            filter: brightness(1.1);
        }

        &:active {
            filter: brightness(0.9);
        }
    }

    &.visible {
        right: 0;
    }
}

.icon {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    user-select: none;
    -webkit-mask: var(--icon-svg) no-repeat center;
    mask: var(--icon-svg) no-repeat center;
    mask-size: contain;
}

.glassy {
    backdrop-filter: blur(2px) url(#glass-distortion);
    box-shadow: inset 2px 2px 2px 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4), inset -2px -2px 2px 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
}

::-webkit-scrollbar {
    max-width: 1rem;
    border-radius: inherit;
    background: var(--scrollbar-bg);
    cursor: grab;
}

::-webkit-scrollbar-thumb {
    max-width: 1rem;
    border-radius: inherit;
    background: var(--scrollbar-thumb-col);
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

@keyframes spawnIn {
    0% {
        clip-path: circle(0 at 50% 50%);
    }

    100% {
        clip-path: circle(100% at 50% 50%);
    }
}

body:has(.dropdown-selector) {
    background: var(--dashboard-bg);
}

.dropdown-selector {
    --input-width: 20rem;
    --input-padding: 1rem;
    margin-top: 1rem;
    font-size: var(--small-font);
    color: var(--text-col);
    width: calc(var(--input-width) + 2 * var(--input-padding));
    padding: 0 1rem;
    cursor: pointer;
    isolation: isolate;
    position: relative;
    transition-delay: z-index 2s;

    & .selection {
        background: var(--input-bg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem var(--input-padding);
        width: var(--input-width);
        position: relative;
        border-radius: var(--small-border-radius);
        user-select: none;
        transition: var(--quick-transition-time) ease;
        box-shadow: inset 0.2rem 0.2rem 0.1rem 0.1rem hsl(from var(--input-bg) h s calc(l * 2) / 0.8), inset -0.2rem -0.2rem 0.1rem 0.1rem hsl(from var(--input-bg) h s calc(l * 0.4) / 0.8);

        & .menu-caret {
            background: var(--input-accent);
            transform: rotate(90deg);
            transition: var(--quick-transition-time) ease;
        }

        &:hover {
            background: hsl(from var(--input-bg) h s calc(l * 1.2));
        }
    }

    & .dropdown-list {
        z-index: -1;
        box-shadow: inset 0 0 0.5rem 0 var(--cell-bg);
        list-style: none;
        position: absolute;
        border-radius: 0 0 var(--small-border-radius) var(--small-border-radius);
        background: hsl(from var(--input-bg) h s calc(l * 0.6));
        top: calc(var(--input-padding) + var(--small-border-radius));
        width: var(--input-width);
        overflow: hidden;
        max-height: 0;
        transition: all var(--quick-transition-time) ease;
        border: 1px solid var(--cell-bg);
        /* border-top: none; */

        & .dropdown-item {
            padding: calc(var(--input-padding) / 2) var(--input-padding);
            transition: var(--quick-transition-time) var(--bezier-function);
            display: flex;
            flex-flow: row;
            gap: 1rem;
            border-top: inherit;

            &:first-of-type {
                border-top: none;
                padding-top: calc(1.5 * var(--input-padding));
            }

            &:hover {
                background: var(--cell-bg);

                & .item-content {
                    transform: translate(3rem);
                }
            }

            & .item-content {
                display: flex;
                flex-flow: row;
                gap: 1rem;

                transition: all var(--quick-transition-time) var(--bezier-function);

                & .item-text {
                    user-select: none;
                }

                & .selected-icon {
                    height: auto;
                    background: var(--text-col);
                    transform: translate(8rem);
                    opacity: 0;
                    transition: all var(--med-transition-time) var(--bezier-function);
                }
            }


            &.selected .item-content .selected-icon {
                opacity: 1;
                transform: translate(0);
                /* position: absolute; */
            }

        }
    }

    &.open {

        & .menu-caret {
            transform: rotate(270deg);
        }

        & .dropdown-list {
            max-height: 15rem;
        }
    }

    &.focused {
        z-index: 5;
    }
}