:root {

    /* * Dashboard Dimensions */

    --num-of-rows: 5;
    --num-of-cols: 5;

    /* * Panel Dimension-related properties */

    --panel-body-inset: 0.5rem;
    --panel-content-padding: 2rem;
    --panel-border-radius: 2rem;
    --square-handle-full-side: 5rem;

    /* * Stylistic Properties */

    --sub-font: 1rem;
    --small-font: 1.5rem;
    --med-font: 5rem;
    --panel-manip-opacity: 0.5;
    --shadow-col: rgb(0 0 0 / 0.4);

    /* * Element Properties */

    --alert-button-size: 5rem;
    --input-width: 24rem;
    --input-height: 4rem;
    --input-padding: 1.5rem;

    /* * Transition-related Properties */

    --quick-transition-time: 0.15s;
    --med-transition-time: 0.3s;
    --panel-transition-time: var(--med-transition-time);
    --bezier-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

    /* * Root styles */

    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

smorgas-board {
    min-width: 100vw;
    min-height: 100vh;
    transition: background var(--med-transition-time) ease;

    &::part(cell-container) {
        position: absolute;
        inset: 0;
        display: grid;
        grid-template: repeat(var(--num-of-rows), 1fr) / repeat(var(--num-of-cols), 1fr);
        background: var(--dashboard-bg);
    }

    &::part(cell) {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        margin: 1rem;
        border-radius: 2rem;
        background: var(--cell-bg);
        opacity: 0.1;
        transition: var(--med-transition-time) ease;
    }

    & .final-preview {
        position: absolute;
        top: var(--y);
        left: var(--x);
        width: var(--width);
        height: var(--height);
        border-radius: 2rem;
        background: var(--preview-bg);
        opacity: 0;
        transition: all var(--panel-transition-time) ease, left 0s, top 0s, width 0s, height 0s;

        /* transform: translateX(var(--x)) translateY(var(--y)); */

        &:has(~ .being-dragged),
        &:has(~ .being-resized) {
            opacity: 1;
        }

        &.snapping {
            transition: all var(--panel-transition-time) ease;
        }

        &.visible {
            opacity: 1;
        }
    }

    & panel-element {

        /* --forced-aspect-ratio: 1:2; */

        position: fixed;
        top: var(--y);
        left: var(--x);
        overflow: visible;
        width: var(--width);
        height: var(--height);
        transform: perspective(200rem);
        transform-style: preserve-3d;

        /* clip-path: circle(0 at 50% 50%);
        left: 0;
        top: 0; */

        &::before {
            content: '';
            position: absolute;
            inset: var(--panel-body-inset);
            border-radius: var(--panel-border-radius);
            opacity: 0;
            transition: all var(--panel-transition-time) ease;
            backdrop-filter: url("#glass-distortion");
        }

        &::part(panel-body) {
            position: absolute;
            inset: var(--panel-body-inset);
            width: calc(100% - 2 * var(--panel-body-inset));
            height: calc(100% - 2 * var(--panel-body-inset));
            border-radius: var(--panel-border-radius);
            background: var(--panel-bg);
            transition: all var(--panel-transition-time) ease;
            transform: perspective(200rem) rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
            transform-style: preserve-3d;
        }

        &:hover::part(panel-body) {
            filter: drop-shadow(var(--shadow-offset-x) var(--shadow-offset-y) 0.2rem var(--shadow-col));

        }

        &::part(panel-body in-motion) {
            transition: 0s;
        }

        &.being-manipulated {
            z-index: 5;
            pointer-events: none;

            &::before {
                opacity: 1;
            }

            &::part(panel-body) {
                background-color: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
                box-shadow: inset 0.2rem 0.2rem 0.5rem 0.1rem hsl(from var(--panel-bg) h s calc(l * 2) / 0.4), inset -0.2rem -0.2rem 0.5rem 0.1rem hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
                filter: drop-shadow(1.5rem 1.5rem 2rem var(--shadow-col));
                backdrop-filter: blur(1px);
            }

            &::part(panel-content) {
                opacity: calc(var(--panel-manip-opacity) * 0.8);
                filter: blur(1px);
            }

            &::part(handle) {
                cursor: grabbing;
            }

            &.being-dragged {
                transition: all var(--panel-transition-time) ease, left 0s, top 0s;
                scale: 1.1;

                &::part(drag-handle) {
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                    opacity: var(--panel-manip-opacity);
                }

                &::part(resize-handle) {
                    width: 0;
                    height: 0;
                    padding: 0;
                }
            }

            &.being-resized {
                transition: all var(--panel-transition-time) ease, width 0s, height 0s;

                &::part(resize-handle) {
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                    opacity: var(--panel-manip-opacity);
                }

                &::part(drag-handle) {
                    width: 0;
                    height: 0;
                    padding: 0;
                }
            }
        }

        &.snapping:not(.final-preview) {
            z-index: 1;
            transition: var(--panel-transition-time) var(--bezier-function);
        }

        &::part(panel-content) {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: var(--panel-content-padding);
            border-radius: var(--panel-border-radius);
            transition: all var(--panel-transition-time) ease;
            container-type: inline-size;
            transform-style: preserve-3d;

            /* overflow: hidden; */
            /* transform: perspective(200rem) translateZ(5rem); */
        }

        &::part(handle) {
            position: absolute;
            box-sizing: border-box;
            width: 0;
            height: 0;
            padding: 0;
            border-radius: var(--small-border-radius);
            background: var(--panel-handle-bg);
            cursor: grab;
            user-select: none;
            transition: var(--panel-transition-time) ease;
        }

        &::part(handle):hover {
            width: var(--square-handle-full-side);
            height: var(--square-handle-full-side);
        }

        &::part(resize-handle) {
            right: 0;
            bottom: 0;
            transform: rotate(90deg);
        }

        &::part(handle-icon) {
            width: 100%;
            pointer-events: none;
        }

        &::part(button-icon) {
            width: 100%;
            pointer-events: none;
        }

        &::part(config) {
            position: absolute;
            inset: 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: end;
            overflow: hidden;
            border-radius: inherit;
            font-size: var(--small-font);
        }

        &::part(config-button) {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            z-index: 2;
            box-sizing: border-box;
            width: 0;
            height: 0;
            padding: 0;
            border-radius: var(--panel-border-radius);
            cursor: pointer;
            user-select: none;
            transition: var(--panel-transition-time) var(--bezier-function);
        }

        &::part(config-button):hover {
            transform: rotate(90deg);
        }

        &::part(config-menu) {
            position: absolute;
            inset: 0;
            overflow: auto;
            background: var(--panel-bg);
            transition: all calc(2 * var(--panel-transition-time)) var(--bezier-function);
            clip-path: circle(0% at center);
        }

        &::part(config-menu-line) {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        }

        /* &.loaded {
            animation: spawnIn forwards var(--panel-transition-time) ease;
        } */

        &:hover {
            z-index: 5;
        }
    }

    &.in-edit-mode {

        & ::part(panel-content) {
            pointer-events: none;
        }

        & ::part(handle) {
            width: 2rem;
            height: 2rem;
            padding: 1rem;
        }

        & ::part(config-button) {
            width: 2rem;
            height: 2rem;
        }

        &::part(cell) {
            opacity: 1;
        }
    }

    & panel-element.configuring {

        &::part(handle) {
            width: 0;
            height: 0;
            padding: 0;
        }

        &::part(panel-body) {
            width: 80vw;
            height: 80vh;
            transform: translate(var(--x-vector), var(--y-vector));
        }

        &::part(config-button) {
            top: 2rem;
            right: 2rem;
        }

        &::part(config-menu) {
            padding: var(--panel-content-padding);
            padding-top: calc(var(--panel-content-padding) * 2);
            clip-path: circle(100% at center);
        }

    }

    &:has(.being-manipulated) panel-element:not(.being-manipulated) {
        pointer-events: none;
    }
}

panel-element {

    &[data-panel-type="NOTEPAD"] {
        --forced-aspect-ratio: 1:1;

        &::part(panel-content) {
            flex-direction: column;
            align-items: stretch;
        }

        & textarea {
            height: 100%;
            padding: 1rem;
            border: none;
            border-radius: var(--small-border-radius);
            background: var(--textarea-bg);
            color: var(--text-col);
            outline: none;
            font-size: var(--small-font);
            font-family: inherit;
            resize: none;
            transition: var(--med-transition-time);
        }

        & textarea:focus {
            background: hsl(from var(--textarea-bg) h s calc(l * 0.9));
        }

        & textarea::placeholder {
            color: lch(from var(--text-col) calc(l*0.8) c h);
        }
    }

    &[data-panel-type="CLOCK"] {
        color: var(--text-col);

        .date-time {
            position: absolute;
            inset: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            border-radius: var(--panel-border-radius);
            text-align: center;
            resize: horizontal;
            transform-style: preserve-3d;

            & .date {
                width: 100%;

                & span {
                    display: block;
                    width: 100%;
                    font-size: clamp(calc(var(--small-font) * 0.8), var(--small-font), 8cqw);
                }
            }

            & .time {
                width: 100%;

                & span {
                    display: block;
                    width: 100%;
                    font-size: clamp(calc(var(--med-font) * 0.7), var(--med-font), 50cqw);
                }
            }
        }
    }
}

.icon {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    user-select: none;
    transition: transform var(--med-transition-time) ease;
    mask: var(--icon-svg) no-repeat center;
    mask-size: contain;

    &.menu-caret {
        --icon-svg: url("../assets/graphics/angle-small-right.svg");
        transform: rotate(90deg);
    }

    &.edit-mode-icon {
        --icon-svg: url("../assets/graphics/edit.svg");
    }

    &.copyright-icon {
        --icon-svg: url("../assets/graphics/copyright.svg");
    }

    &.add-panel-icon {
        --icon-svg: url("../assets/graphics/square-plus.svg");
    }

    &.delete-icon {
        --icon-svg: url("../assets/graphics/trash.svg");
    }

    &.theme-icon {
        --icon-svg: url("../assets/graphics/palette.svg");
    }
}

.context-menu {
    position: absolute;
    z-index: 10;
    width: 22rem;
    height: 16rem;
    padding: 0.5rem;
    color: var(--text-col);

    & .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 22rem;
        margin: 0.5rem;
        border-radius: var(--small-border-radius);
        background: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
        list-style: none;
        font-size: var(--small-font);
        filter: drop-shadow(0 0 0.5rem var(--shadow-col));
        transition: width var(--quick-transition-time) ease var(--med-transition-time),
            background var(--med-transition-time) ease;

        & .item {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: visible;
            width: 100%;
            height: 3rem;
            margin: 0.2rem 0;
            padding: 0.8rem;
            border-radius: calc(var(--small-border-radius) * 0.8);
            cursor: pointer;
            transition: inherit;

            &:hover {
                background: var(--cell-bg);
            }

            & .icon {
                background-color: var(--text-col);
            }

            & .item-text {
                white-space: nowrap;
                user-select: none;
            }

            & .sub-menu {
                z-index: 2;
                overflow: hidden;
                width: 0;
            }

            &#theme-item:hover,
            &#add-panel-item:hover {


                & .menu-caret {
                    transform: rotate(0deg);
                }

                & .sub-menu {
                    width: inherit;
                    background: var(--panel-bg);
                    backdrop-filter: inherit;
                }
            }


        }

        & #remove-panel-section:not(.visible) {
            height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            pointer-events: none;

        }

        & a {
            position: absolute;
            inset: 0;
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            padding: inherit;
            color: inherit;
            font-size: inherit;
            text-decoration: none;
            transition: inherit;
        }

        & .context-menu-spacer {
            height: 0.1rem;
            backdrop-filter: brightness(0.8);
        }
    }

    &:not(.visible) {
        visibility: hidden;
    }
}

.alert {
    --alert-accent: hsl(from var(--alert-bg) h s calc(l * 0.8));
    position: fixed;
    right: -100%;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    max-width: 50vw;
    min-height: var(--alert-button-size);
    border-radius: var(--small-border-radius);
    background: var(--alert-bg);
    box-shadow: 0 0 1rem 0 var(--cell-bg);
    font-size: var(--small-font);
    transition: var(--med-transition-time) cubic-bezier(0.645, 0.045, 0.355, 1);


    & .alert-info {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        padding-right: calc(var(--alert-button-size) + 1rem);
        border-left: 1rem solid var(--alert-accent);
        font-size: inherit;

        & .alert-icon {
            padding: 1.5rem;
            background: var(--alert-accent);
        }
    }

    & .alert-buttons {
        position: absolute;
        right: 0;
        min-width: var(--alert-button-size);
        height: 100%;
    }

    & .close-alert-button {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: var(--alert-accent);
        cursor: pointer;

        & .close-alert-icon {
            background: var(--alert-bg);
        }

        &:hover {
            filter: brightness(1.1);
        }

        &:active {
            filter: brightness(0.9);
        }
    }

    &.visible {
        right: 0;
    }
}

.glassy {
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4),
        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
    backdrop-filter: blur(0.2rem) url("#glass-distortion");
}

::-webkit-scrollbar {
    max-width: 1rem;
    border-radius: inherit;
    background: var(--scrollbar-bg);
    cursor: grab;
}

::-webkit-scrollbar-thumb {
    max-width: 1rem;
    border-radius: inherit;
    background: var(--scrollbar-thumb-col);
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: inset 0 0 20px 20px var(--input-bg);
    transition: 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-col);
} */

@keyframes spawn-in {

    0% {
        clip-path: circle(0 at 50% 50%);
    }

    100% {
        clip-path: circle(100% at 50% 50%);
    }
}