:root {
    --theme: default;
    --num-of-rows: 5;
    --num-of-cols: 5;


    --panel-body-inset: 0.5rem;
    --panel-content-padding: 2rem;
    --panel-border-radius: 2rem;

    --panel-manip-opacity: 0.5;

    --quick-transition-time: 0.2s;

    --panel-transition-time: var(--quick-transition-time);

    --square-handle-full-side: 5rem;
}

* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {

    overflow: hidden;
}

smorgas-board {
    min-width: 100vw;
    min-height: 100vh;

    &::part(cell-container) {
        background: var(--dashboard-bg);
        position: absolute;
        inset: 0;
        display: grid;
        grid-template: repeat(var(--num-of-rows), 1fr) / repeat(var(--num-of-cols), 1fr);
    }

    & .final-preview {
        background: var(--preview-bg);
        opacity: 1;

        position: absolute;

        left: calc(var(--x));
        top: calc(var(--y));
        width: var(--width);
        height: var(--height);


        border-radius: 2rem;

        &:has(~ .being-dragged),
        &:has(~ .being-resized) {
            opacity: 1;
        }
    }

    & panel-element {

        --min-width: 2fr;
        --min-height: 1fr;

        /* --forced-aspect-ratio: 1:2; */

        position: fixed;
        left: calc(var(--x));
        top: calc(var(--y));
        width: var(--width);
        height: var(--height);
        overflow: visible;

        &::part(panel-body) {
            transform:
                rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
            filter: drop-shadow(var(--shadow-offset-x) var(--shadow-offset-y) 0rem black);
            border-radius: var(--panel-border-radius);
            background: var(--panel-bg);
            position: absolute;
            inset: var(--panel-body-inset);
            transition: all var(--panel-transition-time) ease;
        }

        &::part(panel-body in-motion) {
            transition: 0s;
        }

        &:has(::part(drag-handle):hover):not(.being-dragged) {
            filter: brightness(1.2);
        }

        &.being-manipulated {
            opacity: var(--panel-manip-opacity);
            z-index: 1;

            &.being-dragged {
                transition: all var(--panel-transition-time) ease, left 0s, top 0s;

                filter: brightness(0.8) drop-shadow(1.5rem 1.5rem 2rem black);
                scale: 1.2;

                &::part(drag-handle) {
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                }
            }

            &.being-resized {
                transition: all var(--panel-transition-time) ease, width 0s, height 0s;

                &::part(resize-handle) {
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                }
            }
        }

        &.snapping:not(.final-preview) {
            z-index: 1;
            transition: var(--panel-transition-time) ease;
        }

        &::part(panel-content) {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--panel-content-padding);
            border-radius: var(--panel-border-radius);
            overflow: hidden;
        }

        &::part(handle) {
            border-radius: var(--panel-border-radius);
            width: 0;
            height: 0;
            padding: 0;
            position: absolute;
            transition: var(--panel-transition-time) ease;
            user-select: none;
            box-sizing: border-box;
            background: var(--panel-handle-bg);
        }

        &::part(handle):hover {
            width: var(--square-handle-full-side);
            height: var(--square-handle-full-side);
        }

        &::part(resize-handle) {
            bottom: 0;
            right: 0;
            rotate: 90deg;
        }

        &::part(handle-icon) {
            width: 100%;
            pointer-events: none;
        }
    }

    &::part(cell) {
        border-radius: 2rem;
        margin: 1rem;
        opacity: 0.1;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        background: var(--cell-bg);
        transition: var(--quick-transition-time) ease;
    }

    &.in-edit-mode {
        & ::part(handle) {
            height: 2rem;
            width: 2rem;
            padding: 1rem;
        }

        &::part(cell) {
            opacity: 1;
        }
    }
}

panel-element {
    &[data-panel-type="NOTEPAD"] {
        &::part(panel-content) {
            flex-direction: column;
            align-items: stretch;
        }

        &::part(notepad-textarea) {
            resize: none;
            background: var(--textarea-bg);
            height: 100%;
            width: 100%;
            outline: none;
            font-family: inherit;
            color: var(--text-col);
        }
        &::part(notepad-textarea)::placeholder {
            color: lch(from var(--text-col) calc(l*0.8) c h)
        }
    }
}


.snapping,
.snapping>* {
    transition: 0.3s ease;
    pointer-events: none;
}

.disappearing {
    animation: spawnIn reverse forwards 0.2s ease;
}

.appearing {
    animation: spawnIn 0.2s ease;
}

@keyframes spawnIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}