:root {
    --theme: default;
    --num-of-rows: 5;
    --num-of-cols: 5;


    --panel-body-inset: 0.5rem;
    --panel-content-padding: 2rem;
    --panel-border-radius: 2rem;

    --panel-manip-opacity: 0.5;

    --quick-transition-time: 0.3s;

    --panel-transition-time: var(--quick-transition-time);

    --square-handle-full-side: 5rem;

    --small-font: 1.5rem;
    --med-font: 5rem;

    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

smorgas-board {
    min-width: 100vw;
    min-height: 100vh;

    &::part(cell-container) {
        background: var(--dashboard-bg);
        position: absolute;
        inset: 0;
        display: grid;
        grid-template: repeat(var(--num-of-rows), 1fr) / repeat(var(--num-of-cols), 1fr);
    }

    &::part(cell) {
        border-radius: 2rem;
        margin: 1rem;
        opacity: 0.1;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        background: var(--cell-bg);
        transition: var(--quick-transition-time) ease;
    }

    & .final-preview {
        background: var(--preview-bg);
        opacity: 0;
        position: absolute;
        left: calc(var(--x));
        top: calc(var(--y));
        width: var(--width);
        height: var(--height);

        transition: opacity var(--panel-transition-time) ease;

        border-radius: 2rem;

        &:has(~ .being-dragged),
        &:has(~ .being-resized) {
            opacity: 1;
        }

        &.snapping {
            transition: var(--panel-transition-time) ease;
        }

        &.visible {
            opacity: 1;
        }
    }

    & panel-element {

        --min-width: 2fr;
        --min-height: 1fr;

        /* --forced-aspect-ratio: 1:2; */

        position: fixed;
        left: calc(var(--x));
        top: calc(var(--y));
        width: var(--width);
        height: var(--height);
        overflow: visible;

        &::before {
            content: '';
            backdrop-filter: url(#glass-distortion);
            opacity: 0;
            position: absolute;
            inset: var(--panel-body-inset);
            border-radius: var(--panel-border-radius);
            transition: all var(--panel-transition-time) ease;
        }

        &::part(panel-body) {
            transform-style: preserve-3d;
            transform: perspective(200rem) rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
            border-radius: var(--panel-border-radius);
            background: var(--panel-bg);
            position: absolute;
            inset: var(--panel-body-inset);
            transition: all var(--panel-transition-time) ease;
        }

        &:hover::part(panel-body) {
            filter: drop-shadow(var(--shadow-offset-x) 1rem 0.2rem rgb(from black r g b / 0.2));

        }

        &::part(panel-body in-motion) {
            transition: 0s;
        }

        &.being-manipulated {
            z-index: 1;

            &::before {
                opacity: 1;
            }

            &::part(panel-body) {
                backdrop-filter: blur(1px);
                background-color: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
                filter: drop-shadow(1.5rem 1.5rem 2rem rgba(0, 0, 0, 0.459));
                box-shadow: inset 2px 2px 5px 1px hsl(from var(--panel-bg) h s calc(l * 2) / 0.4), inset -2px -2px 5px 1px hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
            }

            &::part(panel-content) {
                filter: blur(1px);
                opacity: calc(var(--panel-manip-opacity) * 0.8);
            }

            &.being-dragged {
                transition: all var(--panel-transition-time) ease, left 0s, top 0s;

                scale: 1.1;

                &::part(drag-handle) {
                    opacity: var(--panel-manip-opacity);
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                }

                &::part(resize-handle) {
                    padding: 0;
                    width: 0;
                    height: 0;
                }
            }

            &.being-resized {
                transition: all var(--panel-transition-time) ease, width 0s, height 0s;

                &::part(resize-handle) {
                    opacity: var(--panel-manip-opacity);
                    width: var(--square-handle-full-side);
                    height: var(--square-handle-full-side);
                }

                &::part(drag-handle) {
                    padding: 0;
                    width: 0;
                    height: 0;
                }
            }

            pointer-events: none;
        }

        &::before {
            transition: all var(--panel-transition-time) ease;
        }

        &.snapping:not(.final-preview) {
            z-index: 1;
            transition: var(--panel-transition-time) ease;
        }

        &::part(panel-content) {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--panel-content-padding);
            border-radius: var(--panel-border-radius);
            overflow: hidden;
            transition: all var(--panel-transition-time) ease;
            container-type: inline-size;
            transform-style: preserve-3d;
            transform: translate3d(0 2rem 5rem);
        }

        &::part(handle) {
            border-radius: var(--panel-border-radius);
            width: 0;
            height: 0;
            padding: 0;
            position: absolute;
            transition: var(--panel-transition-time) ease;
            user-select: none;
            box-sizing: border-box;
            background: var(--panel-handle-bg);
        }

        &::part(handle):hover {
            width: var(--square-handle-full-side);
            height: var(--square-handle-full-side);
        }

        &::part(resize-handle) {
            bottom: 0;
            right: 0;
            rotate: 90deg;
        }

        &::part(handle-icon) {
            width: 100%;
            pointer-events: none;
        }
    }

    &.in-edit-mode {

        & ::part(panel-content) {
            pointer-events: none;
        }

        & ::part(handle) {
            height: 2rem;
            width: 2rem;
            padding: 1rem;
        }

        &::part(cell) {
            opacity: 1;
        }
    }

    &:has(.being-manipulated) panel-element:not(.being-manipulated) {
        pointer-events: none;
    }
}

panel-element {
    &[data-panel-type="NOTEPAD"] {
        --min-width: 2fr;
        --min-height: 2fr;

        --forced-aspect-ratio: 1:1;

        &::part(panel-content) {
            flex-direction: column;
            align-items: stretch;
        }

        & textarea {
            transition: var(--quick-transition-time);
            padding: 1rem;
            resize: none;
            font-size: var(--small-font);
            background: var(--textarea-bg);
            height: 100%;
            outline: none;
            font-family: inherit;
            color: var(--text-col);
            border-radius: var(--small-border-radius);
            border: none;
        }

        & textarea:focus {
            background: hsl(from var(--textarea-bg) h s calc(l * 0.9));
        }

        & textarea::placeholder {
            color: lch(from var(--text-col) calc(l*0.8) c h);
        }
    }

    &[data-panel-type="CLOCK"] {

        --min-width: 1fr;
        --min-width: 2fr;

        .date-time {
            position: absolute;
            inset: 0;
            background: red;
            /* padding: 3rem; */
            background: var(--panel-bg);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            border-radius: var(--panel-border-radius);
            
            text-align: center;
            resize: horizontal;
            
            & .date {
                width: 100%;
                
                & span {
                    display: block;
                    width: 100%;
                    font-size: clamp(calc(var(--small-font) * 0.8), var(--small-font), 8cqw);
                }
            }
            
            & .time {
                width: 100%;
                background: red;
                
                & span {
                    display: block;
                    width: 100%;
                    font-size: clamp(calc(var(--med-font) * 0.7), var(--med-font), 40cqw);
                }
            }
        }
    }
}

.context-menu {
    position: absolute;
    width: 20rem;
    height: 16rem;
    padding: 0.5rem;
    color: var(--text-col);

    & .menu {
        position: absolute;
        border-radius: var(--small-border-radius);
        background: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
        filter: drop-shadow(0rem 0rem 0.5rem rgba(0 0 0 26.2%));
        display: flex;
        margin: 0.5rem;
        width: 100%;
        flex-direction: column;
        transition: width var(--quick-transition-time) ease, background var(--quick-transition-time) ease;
        list-style: none;
        font-size: var(--small-font);

        /* overflow: hidden; */


        & .item {
            transition: inherit;
            cursor: pointer;
            padding: 0.8rem;
            width: 100%;
            height: 3rem;
            border-radius: calc(var(--small-border-radius) * 0.8);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.2rem 0;
            max-height: min-content;
            overflow: visible;

            &:hover {
                background: var(--cell-bg);
            }

            & .item-icon {
                width: 2rem;
                height: 2rem;
                pointer-events: none;
                user-select: none;
                background-color: var(--text-col);
                -webkit-mask: var(--icon-svg) no-repeat center;
                mask: var(--icon-svg) no-repeat center;
                mask-size: contain;
            }

            & span {
                user-select: none;
            }

            & .theme-menu {
                width: 0;
                overflow: hidden;
            }

            &#theme-item:hover .theme-menu {
                width: inherit;
                backdrop-filter: inherit;
            }


        }

        & #remove-panel-section {

            transition: inherit;

            &:not(.visible) {
                visibility: hidden;
                height: 0;
                padding: 0;
                margin: 0;
            }
        }

        & a {
            display: inherit;
            transition: inherit;
            align-items: inherit;
            font-size: inherit;
            justify-content: inherit;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: inherit;
        }

        & .context-menu-spacer {
            height: 0.1rem;
            backdrop-filter: brightness(0.8);
        }
    }

    &:not(.visible) {
        visibility: hidden;
    }
}

.glassy {
    backdrop-filter: blur(2px) url(#glass-distortion);
    box-shadow: inset 2px 2px 2px 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4), inset -2px -2px 2px 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
}

.disappearing {
    animation: spawnIn reverse var(--panel-transition-time) ease;
}

::-webkit-scrollbar {
    max-width: 1rem;
    border-radius: inherit;
    background: var(--scrollbar-bg);
    cursor: grab;
}

::-webkit-scrollbar-thumb {
    max-width: 1rem;
    border-radius: inherit;
    background: var(--scrollbar-thumb-col);
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

@keyframes spawnIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}