:root {
    --panel-bg: #282828;
    --dashboard-bg: #181818;
    --panel-handle-bg: hsl(from var(--panel-bg) h s calc(l * 1.6));
    --cell-bg: rgb(255 255 255 / 0.305);
    --textarea-bg: hsl(from var(--panel-bg) h s calc(l * 0.95));
    --preview-bg: lch(from var(--panel-bg) calc(l*0.6) c h);
    --text-primary: #e7ffdc;
    --text-secondary: #d0ffb0;
    --text-subtle: #b7cfb3;
    --text-placeholder: #8ea57e;
    --text-accent: #0f0;
    --scrollbar-bg: hsl(from var(--panel-bg) h s calc(l * 0.7));
    --scrollbar-thumb-col: hsl(from var(--panel-bg) h s calc(l * 1.2));
    --alert-error-bg: #ff4a4a;
    --alert-warning-bg: #b16942;
    --alert-info-bg: #004158;
    --input-bg: #3c3c3c;
    --input-secondary: hsl(from var(--input-bg) h s calc(l*2.2));
    --input-accent: #0f0;
    font-family: "Google Sans Code", monospace;
}