:root {
    --panel-bg: rgb(0, 128, 107);
    --dashboard-bg: rgb(43, 97, 95);
    --panel-handle-bg: red;
    --cell-bg: rgba(255, 255, 255, 0.305);
    --textarea-bg: hsl(from var(--panel-bg) h s calc(l * 0.9));
    --preview-bg: lch(from var(--panel-bg) calc(l*0.6) c h)
}