:root {

    font-family: 'Franklin Gothic Thin', 'Arial Narrow', Arial, sans-serif !important;

    --panel-bg: rgb(0, 128, 107);
    --dashboard-bg: rgb(43 97 95);
    --panel-handle-bg: hsl(from var(--panel-bg) h s calc(l * 1.6));
    --cell-bg: rgba(255, 255, 255, 0.305);
    --textarea-bg: hsl(from var(--panel-bg) h s calc(l * 0.95));
    --preview-bg: lch(from var(--panel-bg) calc(l*0.6) c h);
    --text-col: rgb(130, 255, 236);
    --small-border-radius: 0.5rem;
}