:root {
    --panel-bg: #32374C;
    --dashboard-bg: #292D3E;
    --panel-handle-bg: hsl(from var(--panel-bg) h s calc(l * 1.6));
    --cell-bg: rgb(255 255 255 / 0.305);
    --textarea-bg: hsl(from var(--panel-bg) h s calc(l * 0.95));
    --preview-bg: lch(from var(--panel-bg) calc(l*0.6) c h);
    --border-subtle: #282B3C;
    --text-primary: #BFC7D5;
    --text-secondary: #eff;
    --text-subtle: #676E95;
    --text-placeholder: #AAB;
    --text-accent: #80CBC4;
    --alert-text-col: #292D3E;
    --scrollbar-bg: hsl(from var(--panel-bg) h s calc(l * 0.7));
    --scrollbar-thumb-col: hsl(from var(--panel-bg) h s calc(l * 1.2));
    --alert-error-bg: #EF5350;
    --alert-warning-bg: #FFCA28;
    --alert-info-bg: #64B5F6;
    --input-bg: #292D3E;
    --input-secondary: hsl(from var(--input-bg) h s calc(l*2.2));
    --input-accent: #7e57c2;
    font-family: "Roboto Flex", sans-serif;
}