* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

/* :root {
} */

#dashboard {
    width: 100vw;
    height: 100vh;
    background: rgb(50, 43, 97);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
}

.panel {
    background: navy;
    position: absolute;
    width: 20rem;
    height: 20rem;
    left: var(--x);
    top: var(--y);
    /* grid-area: 1 / 2 / 4 / 4 ; */

    &.being-dragged {
        filter: brightness(0.8);
    }
}

.drag-handle {
    width: 2rem;
    height: 2rem;
    svg {
        width: 100%;
        height: 100%;
    }
}