* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

/* :root {
} */

#dashboard {
    width: 100vw;
    height: 100vh;
    background: rgb(50, 43, 97);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
}

.panel {

    --min-width: 200;
    --min-height: 200;

    background: navy;
    position: absolute;
    left: var(--x);
    top: var(--y);
    /* min-width: );
    min-height: ; */
    width: var(--width, calc(var(--min-width) * 1px));
    height: var(--height, calc(var(--min-height) * 1px));
    /* grid-area: 1 / 2 / 4 / 4 ; */
    border-radius: 2rem;
    
    &:has(.drag-handle:hover):not(.being-dragged) {
        filter: brightness(1.2);
    }
    
    &.being-dragged {
        filter: brightness(0.8);
        & .drag-handle {
            width: 5rem;
            height: 5rem;
        }
    }

    &::before {
        position: absolute;
        inset: 0;
        background: purple;
        transform: translate(10px, 10px);
    }
}

.handle {
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    position: absolute;
    transition: 0.2s ease;
    user-select: none;
    background: red;
    
    &.resize-handle {
        bottom: 0;
        right: 0;
        rotate: 90deg;
    }

    &:hover {
        width: 5rem;
        height: 5rem;
    }
    & object {
        width: 100%;
        pointer-events: none;
    }
}