.alert {
    --alert-accent: hsl(from var(--alert-bg) h s calc(l * 0.8));
    position: fixed;
    right: -100%;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    max-width: 50vw;
    min-height: var(--alert-button-size);
    border-radius: var(--small-border-radius);
    background: var(--alert-bg);
    box-shadow: 0 0 1rem 0 var(--shadow-col);
    font-size: var(--small-font);
    transition: var(--med-transition-time) cubic-bezier(0.645, 0.045, 0.355, 1);


    & .alert-info {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        padding-right: calc(var(--alert-button-size) + 1rem);
        border-left: 1rem solid var(--alert-accent);
        font-size: inherit;

        & .alert-icon {
            padding: 1.5rem;
            background: var(--alert-accent);
        }
    }

    & .alert-buttons {
        position: absolute;
        right: 0;
        min-width: var(--alert-button-size);
        height: 100%;
    }

    & .close-alert-button {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: var(--alert-accent);
        cursor: pointer;

        & .close-alert-icon {
            background: var(--alert-bg);
        }

        &:hover {
            filter: brightness(1.1);
        }

        &:active {
            filter: brightness(0.9);
        }
    }

    &.visible {
        right: 0;
    }
}