@keyframes shine {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce-squish {
    0% {
        transform: scaleY(1) translateY(-10rem);
    }

    100% {
        border-radius: 7rem 7rem 5rem 5rem;
        transform: scaleY(0.6) translateY(0);
    }
}

@keyframes ball-shadow {
    0% {
        filter: blur(0.3rem);
        transform: translateY(-0.5rem) scaleX(0.4);
    }

    100% {
        filter: blur(0.1rem);
        transform: translateY(-0.5rem) scaleX(1);
    }
}

@keyframes arrow-bounce {
    0% {
        transform: translateX(-5rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes arrow-bounce-down {
    0% {
        transform: translateY(-5rem) rotate(90deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes pulse {
    100% {
        transform: scale(0.8);

        & .icon {
            transform: scale(calc(1 / 0.8));
        }
    }
}

@keyframes shake {
    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

@keyframes pulse-check {
    50% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}