@import url("./inputs.css");
@import url("./auth.css");
@import url("./loader.css");
@import url("./context_menu.css");
@import url("./animations.css");
@import url("./alert.css");
@import url("./panel.css");
@import url("./panel_types.css");

:root {

    /* * Dashboard Dimensions */

    --num-of-rows: 5;
    --num-of-cols: 5;

    /* * Panel Dimension-related properties */

    --panel-body-inset: 0.5rem;
    --panel-content-padding: 2rem;
    --panel-border-radius: 2rem;
    --square-handle-full-side: 5rem;

    /* * Stylistic Properties */

    --sub-font: 1rem;
    --small-font: 1.5rem;
    --med-font: 5rem;
    --panel-manip-opacity: 0.5;
    --shadow-col: rgb(0 0 0 / 0.4);

    /* * Element Properties */

    --alert-button-size: 5rem;
    --input-width: 24rem;
    --input-height: 4rem;
    --input-padding: 1.5rem;

    /* * Transition-related Properties */

    --quick-transition-time: 0.15s;
    --med-transition-time: 0.3s;
    --panel-transition-time: var(--med-transition-time);
    --bezier-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    --jelly-function: linear(0, 0.029 1.6%, 0.123 3.5%, 0.651 10.6%, 0.862 14.1%, 1.002 17.7%, 1.046 19.6%, 1.074 21.6%, 1.087 23.9%, 1.086 26.6%, 1.014 38.5%, 0.994 46.3%, 1);

    /* * Root styles */

    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    color: var(--text-col);
}

.icon {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    user-select: none;
    transition: transform var(--med-transition-time) ease, opacity var(--med-transition-time) ease, filter var(--med-transition-time) ease;
    mask: var(--icon-svg) no-repeat center;
    mask-size: contain;

    &.menu-caret {
        --icon-svg: url("../assets/graphics/angle-small-right.svg");
        transform: rotate(90deg);
    }

    &.edit-mode-icon {
        --icon-svg: url("../assets/graphics/edit.svg");
    }

    &.copyright-icon {
        --icon-svg: url("../assets/graphics/copyright.svg");
    }

    &.add-panel-icon {
        --icon-svg: url("../assets/graphics/square-plus.svg");
    }

    &.delete-icon {
        --icon-svg: url("../assets/graphics/trash.svg");
    }

    &.theme-icon {
        --icon-svg: url("../assets/graphics/palette.svg");
    }

    &.image-drop-icon {
        --icon-svg: url("../public/assets/graphics/add-image.svg");
    }

    &.personal-icon {
        --icon-svg: url("../public/assets/graphics/user.svg");
    }

    &.question-icon {
        --icon-svg: url("../public/assets/graphics/question.svg");
    }

    &.cloud-exclam-icon {
        --icon-svg: url("../public/assets/graphics/cloud-exclamation.svg");
    }

    &.exit-icon {
        --icon-svg: url("../public/assets/graphics/exit.svg");
    }

    &.dimensions-icon {
        --icon-svg: url("../public/assets/graphics/resize.svg");
    }
}

.glassy {
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4),
        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
    backdrop-filter: blur(0.2rem) url("#glass-distortion");
}

.despawning {
    clip-path: circle(0% at center);
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}

smorgas-board {
    min-width: 100vw;
    min-height: 100vh;
    transition: background var(--med-transition-time) ease;

    &::part(cell-container) {
        position: absolute;
        inset: 0;
        display: grid;
        grid-template: repeat(var(--num-of-rows), 1fr) / repeat(var(--num-of-cols), 1fr);
        background: var(--dashboard-bg);
    }

    &::part(cell) {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        margin: 1rem;
        border-radius: 2rem;
        background: var(--cell-bg);
        opacity: 0.1;
        transition: var(--med-transition-time) ease;
    }

    &.in-edit-mode {
        & ::part(panel-content) {
            pointer-events: none;
        }

        & ::part(handle) {
            width: 2rem;
            height: 2rem;
            padding: 1rem;
        }

        & ::part(config-button) {
            width: 2rem;
            height: 2rem;
        }

        &::part(cell) {
            opacity: 1;
        }
    }

    &:has(.being-manipulated) panel-element:not(.being-manipulated) {
        pointer-events: none;

        &::part(config-button) {
            pointer-events: none;
        }
    }
}

.personal-nav {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 5;
    transition: all var(--quick-transition-time) var(--bezier-function);

    & .icon {
        position: absolute;
        background: var(--input-secondary);
        transition: all var(--med-transition-time) var(--bezier-function);

        &.cloud-exclam-icon {
            opacity: 0;
            transform: scale(0.7) translate(0) rotate(0deg);
        }
    }

    & .personal-nav-menu {
        position: absolute;
        right: calc(var(--square-handle-full-side) / 2);
        bottom: calc(var(--square-handle-full-side) / 2);
        display: flex;
        flex-flow: column;
        align-items: end;
        overflow: hidden;
        max-width: 1rem;
        max-height: 1rem;
        border: 0.5rem solid var(--input-secondary);
        border-radius: var(--small-border-radius);
        background: var(--panel-bg);
        transition: all var(--med-transition-time) var(--bezier-function), max-height var(--med-transition-time) var(--bezier-function) calc(0.8 * var(--med-transition-time)), box-shadow calc(1.5 * var(--med-transition-time)) var(--bezier-function) calc(0.8 * var(--med-transition-time));
        border-end-end-radius: calc(var(--square-handle-full-side) / 2);

        & .auth-options {
            display: inherit;
            flex-flow: inherit;
            align-items: inherit;
            overflow: hidden;
            padding: var(--input-padding);
            padding-bottom: calc(var(--square-handle-full-side) + var(--input-padding));
            transition: inherit;

            & .auth-options-section-title {
                margin-bottom: 1rem;
                text-align: end;
            }

            & .auth-options-section {
                display: inherit;
                flex-flow: inherit;
                align-items: inherit;

                &.logged-in-options {
                    display: none;
                }
            }
        }

        &:has(~ .button.active) {
            max-width: 15rem;
            max-height: 20rem;
            box-shadow: 0.4rem 0.4rem 0.2rem 0 var(--shadow-col);
            transition: all var(--med-transition-time) var(--bezier-function), max-width var(--med-transition-time) var(--bezier-function) calc(0.8 * var(--med-transition-time));

            & .auth-options {
                opacity: 1;
            }
        }

    }

    & .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--square-handle-full-side);
        height: var(--square-handle-full-side);
        border-radius: 50%;
        background: var(--input-bg);
        box-shadow: inset 0.2rem 0.2rem 0.3rem 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4),
            inset -0.2rem -0.2rem 0.3rem 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4),
            0.4rem 0.4rem 0.2rem 0 var(--shadow-col);
        cursor: pointer;
        transition: inherit;

        &:hover,
        &.active {
            & .icon {
                filter: brightness(1.5);
            }

            & .personal-icon {
                transform: translate(-0.5rem, 0.2rem) rotate(-10deg);
            }

            & .cloud-exclam-icon {
                opacity: 1;
                transform: scale(0.8) translate(1rem, -1rem) rotate(15deg);
            }
        }
    }

    & .button.active {
        box-shadow:
            inset 0.2rem 0.2rem 0.3rem 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4),
            inset -0.2rem -0.2rem 0.3rem 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4);

        & .icon {
            background: var(--input-accent);
            filter: none;
        }

    }
}


::-webkit-scrollbar {
    max-width: 1rem;
    border-radius: inherit;
    background: var(--scrollbar-bg);
    cursor: grab;
}

::-webkit-scrollbar-thumb {
    max-width: 1rem;
    border-radius: inherit;
    background: var(--scrollbar-thumb-col);
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-resizer {
    display: none;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: inset 0 0 20px 20px var(--input-bg);
    transition: 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-col);
} */

.skeleton {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: clamp(0.5rem, 5%, 1rem);
    width: 100%;
    height: min(20rem, 100%);

    & .placeholder {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: var(--small-border-radius);
        background: var(--cell-bg);

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 10rem;
            height: 400%;
            background: linear-gradient(90deg, transparent 0%, hsl(from var(--cell-bg) h s l / 0.5) 50%, transparent 100%);
            transform: translate(-10rem, -10rem) rotate(15deg);
            animation: shine 1s linear infinite var(--delay, 0s);
        }

        &:nth-of-type(1) {
            grid-area: 1 / 1 / 5 / 4;
        }

        &:nth-of-type(2) {
            --delay: 0.2s;
            grid-area: 1 / 4 / 3 / 7;
        }

        &:nth-of-type(3) {
            --delay: 0.48s;
            grid-area: 1 / 7 / 3 / 9;
        }

        &:nth-of-type(4) {
            --delay: 0.24s;
            grid-area: 3 / 4 / 4 / 8;
        }

        &:nth-of-type(5) {
            --delay: 0.26s;
            grid-area: 4 / 4 / 5 / 7;
        }

        &:nth-of-type(6) {
            --delay: 0.09s;
            grid-area: 5 / 1 / 6 / 9;
        }

        &:nth-of-type(7) {
            --delay: 0.125s;
            grid-area: 6 / 1 / 7 / 6;
        }

        &:nth-of-type(8) {
            --delay: 0.14s;
            grid-area: 7 / 1 / 8 / 7;
        }

        &:nth-of-type(9) {
            --delay: 0.155s;
            grid-area: 8 / 1 / 9 / 5;
        }

        &:nth-of-type(10) {
            --delay: 0.7s;
            grid-area: 6 / 7 / 9 / 9;
        }
    }
}

.drop-area {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border: 0.8rem dashed var(--input-secondary);
    border-radius: var(--small-border-radius);
    text-align: center;
    filter: drop-shadow(0 0 0 var(--input-secondary));
    transition: var(--quick-transition-time) ease;

    & .image-drop-icon {
        width: 8rem;
        height: 8rem;
        background: var(--input-secondary);
    }

    & .drop-area-text {
        user-select: none;

        &.drop-area-info {
            font-style: italic;
            font-size: var(--small-font);
        }

        &.drop-area-subinfo {
            font-size: var(--sub-font);
        }
    }

    &.active {
        border-radius: calc(var(--small-border-radius) * 3);
        filter: drop-shadow(0 0 1rem var(--input-secondary));
    }
}

.matrix {
    display: grid;
    grid-template: repeat(var(--matrix-height), 1fr) / repeat(var(--matrix-width), 1fr);

    .matrix-cell {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        transition: all var(--med-transition-time) var(--bezier-function);

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border: 0.1rem solid var(--input-secondary);
            border-radius: var(--tiny-border-radius);
            background: var(--input-bg);
        }

        &.active::after {
            background: var(--input-accent);
            transition-duration: var(--quick-transition-time);
        }
    }
}