@import url("./inputs.css");
@import url("./auth.css");
@import url("./loader.css");
@import url("./context_menu.css");
@import url("./animations.css");
@import url("./alert.css");
@import url("./panel.css");
@import url("./panel_types.css");
@import url("./nav.css");

:root {

    /* * Dashboard Dimensions */

    --num-of-rows: 5;
    --num-of-cols: 5;

    /* * Panel Dimension-related properties */

    --panel-body-inset: 0.5rem;
    --panel-content-padding: 2rem;
    --panel-border-radius: 2rem;
    --square-handle-full-side: 5rem;
    --small-border-radius: 1rem;
    --tiny-border-radius: 0.5rem;

    /* * Stylistic Properties */

    --font-xs: 1rem;
    --font-s: 1.5rem;
    --font-inputs: 1.6rem;
    --font-sm: 3rem;
    --font-m: 5rem;
    --panel-manip-opacity: 0.7;
    --shadow-col: rgb(0 0 0 / 0.4);
    --sun-col: rgb(239 239 141);
    --moon-col: rgb(179 212 212);
    --sun-icon: url("../public/assets/graphics/sun.svg");
    --moon-icon: url("../public/assets/graphics/moon.svg");

    /* * Element Properties */

    --alert-button-size: 5rem;
    --input-width: 24rem;
    --input-height: 4rem;
    --input-padding: 1.5rem;

    /* * Transition-related Properties */

    --quick-transition-time: 0.15s;
    --med-transition-time: 0.3s;
    --panel-transition-time: var(--med-transition-time);
    --bezier-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    --jelly-function: linear(0, 0.029 1.6%, 0.123 3.5%, 0.651 10.6%, 0.862 14.1%, 1.002 17.7%, 1.046 19.6%, 1.074 21.6%, 1.087 23.9%, 1.086 26.6%, 1.014 38.5%, 0.994 46.3%, 1);

    /* * Root styles */

    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    overscroll-behavior: contain;
}

body {
    overflow: hidden;
    background: var(--dashboard-bg);
    color: var(--text-primary);
    overscroll-behavior: contain;
}

a {
    color: var(--text-accent);
}

.icon {
    width: 2rem;
    height: 2rem;
    background: var(--text-accent);
    pointer-events: none;
    user-select: none;
    transition-timing-function: ease;
    transition-duration: var(--med-transition-time);
    transition-property: transform, opacity, filter, mask-size;
    mask: var(--icon-svg) no-repeat center;
    mask-size: contain;

    &.menu-caret {
        --icon-svg: url("../assets/graphics/angle-small-right.svg");
        transform: rotate(90deg);
    }

    &.edit-mode-icon {
        --icon-svg: url("../assets/graphics/edit.svg");
    }

    &.copyright-icon {
        --icon-svg: url("../assets/graphics/copyright.svg");
    }

    &.add-panel-icon {
        --icon-svg: url("../assets/graphics/square-plus.svg");
    }

    &.delete-icon {
        --icon-svg: url("../assets/graphics/trash.svg");
    }

    &.drag-icon {
        --icon-svg: url("../assets/graphics/arrows-alt.svg");
    }

    &.theme-icon {
        --icon-svg: url("../assets/graphics/palette.svg");
    }

    &.image-drop-icon {
        --icon-svg: url("../public/assets/graphics/add-image.svg");
    }

    &.personal-icon {
        --icon-svg: url("../public/assets/graphics/user.svg");
    }

    &.question-icon {
        --icon-svg: url("../public/assets/graphics/question.svg");
    }

    &.cloud-exclam-icon {
        --icon-svg: url("../public/assets/graphics/cloud-exclamation.svg");
    }

    &.exit-icon {
        --icon-svg: url("../public/assets/graphics/exit.svg");
    }

    &.dimensions-icon {
        --icon-svg: url("../public/assets/graphics/resize.svg");
    }

    &.arrow-icon {
        --icon-svg: url("../public/assets/graphics/arrow-alt-square-right.svg");
    }

    &.config-icon {
        --icon-svg: url("../public/assets/graphics/settings.svg");
    }

    &.save-icon {
        --icon-svg: url("../public/assets/graphics/floppy-disk-pen.svg");
    }

    &.upload-icon {
        --icon-svg: url("../public/assets/graphics/file-upload.svg");
    }

    &.checklist-icon {
        --icon-svg: url("../public/assets/graphics/list-check.svg");
    }

    &.add-icon {
        --icon-svg: url("../public/assets/graphics/plus-small.svg");
    }

    &.x-icon {
        --icon-svg: url("../public/assets/graphics/circle-x.svg");
        --target-bg: var(--alert-error-bg);
        position: absolute;
        right: 0.5rem;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        min-height: 2rem;
        margin-left: auto;
        cursor: pointer;
        pointer-events: all;
        transform: scale(0);

        &:is(.in-edit-mode .x-icon) {
            transform: scale(1);

            &:hover {
                transform: scale(1.2);
            }
        }

    }

    &.weather-icon {
        --icon-svg: url("../public/assets/graphics/clouds-sun.svg");
    }

    &.search-icon {
        --icon-svg: url("../public/assets/graphics/search-location.svg");
    }

    &.sunrise-icon {
        --icon-svg: url("../public/assets/graphics/sunrise-alt.svg");
    }

    &.sunset-icon {
        --icon-svg: url("../public/assets/graphics/sunset.svg");
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--target-bg);
        opacity: 0;
        transition: inherit;
    }

    &:hover::after,
    &:is(.icon-button:hover > .icon)::after {
        opacity: 1;
    }
}

.icon-button {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: var(--quick-transition-time);
    transition-property: transform, opacity, filter;
}

.glassy {
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4),
        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
    backdrop-filter: blur(0.1rem) contrast(80%) saturate(120%) url("#glass-distortion");
}

.embossed {
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4),
        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}

smorgas-board {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    width: 100svw;
    min-width: 100vw;
    min-width: 100svw;
    max-width: 100vw;
    max-width: 100svw;
    height: 100vh;
    height: 100svh;
    min-height: 100vh;
    min-height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    isolation: isolate;

    &::part(cell-container) {
        position: absolute;
        inset: 0;
        display: grid;
        grid-template: repeat(var(--num-of-rows), 1fr) / repeat(var(--num-of-cols), 1fr);
        background: var(--dashboard-bg);
    }

    &::part(cell) {
        position: relative;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        margin: 1rem;
        border: 0 solid var(--cell-bg);
        border-radius: 2rem;
        background: var(--cell-bg);
        opacity: 0.1;
        user-select: none;
        transition-timing-function: ease;
        transition-duration: var(--med-transition-time);
        transition-property: opacity, transform;
        isolation: isolate;
    }

    &::part(cell)::before {
        content: '';
        position: absolute;
        inset: -1rem;
        z-index: -1;
        border-radius: inherit;
        background-color: var(--cell-bg);
        opacity: 0;
        transition: inherit;
        transform: scale(0.6);
    }


    &.in-edit-mode {
        & ::part(drag-handle) {
            transform: scale(0.4);
        }

        & ::part(resize-handle) {
            stroke-width: 1.5rem;
        }

        & ::part(icon-button) {
            transform: scale(1);
        }

        & panel-element:not(panel-element.configuring, panel-element.snapping, panel-element.being-manipulated):hover {
            &::part(panel-content) {
                transform: scale(calc(1 / 1.03));
            }

            &::part(panel-body),
            &::part(panel-content)::before,
            &::part(panel-content)::after {
                transform: scale(1.03);
            }
        }

        &::part(cell) {
            opacity: 1;
        }

        &::part(cell previewing)::before {
            opacity: 1;
            transform: scale(1);
        }
    }

}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: inset 0 0 20px 20px var(--input-bg);
    transition: 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-primary);
} */

.skeleton {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: clamp(0.5rem, 5%, 1rem);
    width: 100%;
    height: min(20rem, 100%);

    & .placeholder {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: var(--small-border-radius);
        background: var(--cell-bg);
        animation: shine 0.8s ease infinite alternate;

        &:nth-of-type(1) {
            grid-area: 1 / 1 / 5 / 4;
        }

        &:nth-of-type(2) {
            grid-area: 1 / 4 / 3 / 7;
        }

        &:nth-of-type(3) {
            --delay: 0.28s;
            grid-area: 1 / 7 / 3 / 9;
        }

        &:nth-of-type(4) {
            grid-area: 3 / 4 / 4 / 8;
        }

        &:nth-of-type(5) {
            grid-area: 4 / 4 / 5 / 7;
        }

        &:nth-of-type(6) {
            grid-area: 5 / 1 / 6 / 9;
        }

        &:nth-of-type(7) {
            grid-area: 6 / 1 / 7 / 8;
        }

        &:nth-of-type(8) {
            grid-area: 7 / 1 / 9 / 9;
        }
    }
}

.spacer {
    display: block;
    align-self: center;
    width: 80%;
    height: 0.2rem;
    min-height: 0.2rem;
    margin: 0.5rem;
    border-radius: var(--tiny-border-radius);
    background: var(--cell-bg);

    &.vertical-spacer {
        width: 0.2rem;
        min-width: 0.2rem;
        height: 90%;
    }
}

.matrix {
    display: grid;
    grid-template: repeat(var(--matrix-height), 1fr) / repeat(var(--matrix-width), 1fr);

    .matrix-cell {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            border: 0.1rem solid var(--input-secondary);
            border-radius: var(--tiny-border-radius);
            background: var(--input-bg);
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border: 0.1rem solid var(--input-secondary);
            border-radius: var(--tiny-border-radius);
            background: var(--input-accent);
            opacity: 0;
            transition: opacity var(--med-transition-time) var(--bezier-function);
        }

        &.active::after {
            opacity: 1;
            transition-duration: var(--quick-transition-time);
        }
    }
}

#modal-layer {
    position: fixed;
    inset: 0;
    z-index: 5;
    pointer-events: none;
    isolation: isolate;

    & .warning-overlay {
        position: fixed;
        inset: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        background: hsl(from var(--dashboard-bg) h s l / 0.6);
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--med-transition-time) ease, pointer-events 0s ease var(--med-transition-time);
        backdrop-filter: blur(0.8rem);

        & .warning-title {
            font-size: var(--font-m);
        }


        & .warning-description {
            position: relative;
            max-width: 60vw;
            font-size: var(--font-s);
            text-align: justify;
        }

        & .warning-solution-steps,
        & .warning-solution-steps .solution-step {
            max-width: 60vw;
            font-size: var(--font-s);
        }

        &.visible {
            opacity: 1;
            pointer-events: all;
        }
    }

    & .off-screen-arrows {
        pointer-events: none;

        & .icon {
            position: absolute;
            width: 8rem;
            height: 8rem;
            background: var(--input-accent);
            opacity: 0;
            filter: drop-shadow(0 0 0.5rem var(--shadow-col));
            transition: opacity var(--quick-transition-time) ease;
            animation-duration: 0.5s;
            animation-play-state: paused;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;

            &#off-screen-right {
                top: calc(50% - 4rem);
                right: 2rem;
                animation-name: arrow-bounce;
            }

            &#off-screen-down {
                bottom: 2rem;
                left: calc(50% - 4rem);
                transform: rotate(90deg);
                animation-name: arrow-bounce-down;
            }

            &.visible {
                opacity: 1;
            }
        }
    }

    & #save-icon-container {
        position: fixed;
        inset: 0;
        filter: drop-shadow(0 0 0.5rem var(--shadow-col));
    }

    & #dashboard-save-icon {
        position: absolute;
        bottom: var(--panel-content-padding);
        left: var(--panel-content-padding);
        width: 5rem;
        height: 5rem;
        background: var(--input-accent);
        pointer-events: none;
        transition-timing-function: var(--bezier-function);
        transform: scale(0);

        &.visible {
            transform: scale(1);
        }
    }

    &::after {
        content: '';
        position: fixed;
        inset: 0;
    }
}

.context-menu[data-focused="dimensions"] ~ #modal-layer .off-screen-arrow {
    animation-play-state: running;
}

#filter-container {
    pointer-events: none;
}

@media (hover: hover) {
    #nav .nav-entry .button:hover {
        & .personal-icon {
            transform: translate(-0.5rem, 0.2rem) rotate(-10deg);
        }

        & .cloud-exclam-icon {
            opacity: 1;
            transform: scale(0.8) translate(1rem, -1rem) rotate(15deg);
        }

        & .config-icon {
            transform: rotate(90deg);
        }
    }
}