@import url("./inputs.css");
@import url("./auth.css");
@import url("./loader.css");
@import url("./context_menu.css");
@import url("./animations.css");
@import url("./alert.css");
@import url("./panel.css");
@import url("./panel_types.css");
@import url("./nav.css");

:root {

    /* * Dashboard Dimensions */

    --num-of-rows: 5;
    --num-of-cols: 5;

    /* * Panel Dimension-related properties */

    --panel-body-inset: 0.5rem;
    --panel-content-padding: 2rem;
    --panel-border-radius: 2rem;
    --square-handle-full-side: 5rem;

    /* * Stylistic Properties */

    --sub-font: 1rem;
    --small-font: 1.5rem;
    --med-font: 5rem;
    --panel-manip-opacity: 0.5;
    --shadow-col: rgb(0 0 0 / 0.4);

    /* * Element Properties */

    --alert-button-size: 5rem;
    --input-width: 24rem;
    --input-height: 4rem;
    --input-padding: 1.5rem;

    /* * Transition-related Properties */

    --quick-transition-time: 0.15s;
    --med-transition-time: 0.3s;
    --panel-transition-time: var(--med-transition-time);
    --bezier-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    --jelly-function: linear(0, 0.029 1.6%, 0.123 3.5%, 0.651 10.6%, 0.862 14.1%, 1.002 17.7%, 1.046 19.6%, 1.074 21.6%, 1.087 23.9%, 1.086 26.6%, 1.014 38.5%, 0.994 46.3%, 1);

    /* * Root styles */

    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    backface-visibility: hidden !important;
}

body {
    overflow: hidden;
    color: var(--text-col);
}

.icon {
    width: 2rem;
    height: 2rem;
    background: currentcolor;
    pointer-events: none;
    user-select: none;
    transition: transform var(--med-transition-time) ease, opacity var(--med-transition-time) ease, filter var(--med-transition-time) ease;
    mask: var(--icon-svg) no-repeat center;
    mask-size: contain;

    &.menu-caret {
        --icon-svg: url("../assets/graphics/angle-small-right.svg");
        transform: rotate(90deg);
    }

    &.edit-mode-icon {
        --icon-svg: url("../assets/graphics/edit.svg");
    }

    &.copyright-icon {
        --icon-svg: url("../assets/graphics/copyright.svg");
    }

    &.add-panel-icon {
        --icon-svg: url("../assets/graphics/square-plus.svg");
    }

    &.delete-icon {
        --icon-svg: url("../assets/graphics/trash.svg");
    }

    &.theme-icon {
        --icon-svg: url("../assets/graphics/palette.svg");
    }

    &.image-drop-icon {
        --icon-svg: url("../public/assets/graphics/add-image.svg");
    }

    &.personal-icon {
        --icon-svg: url("../public/assets/graphics/user.svg");
    }

    &.question-icon {
        --icon-svg: url("../public/assets/graphics/question.svg");
    }

    &.cloud-exclam-icon {
        --icon-svg: url("../public/assets/graphics/cloud-exclamation.svg");
    }

    &.exit-icon {
        --icon-svg: url("../public/assets/graphics/exit.svg");
    }

    &.dimensions-icon {
        --icon-svg: url("../public/assets/graphics/resize.svg");
    }

    &.arrow-icon {
        --icon-svg: url("../public/assets/graphics/arrow-alt-square-right.svg");
    }

    &.config-icon {
        --icon-svg: url("../public/assets/graphics/settings.svg");
    }

    &.save-icon {
        --icon-svg: url("../public/assets/graphics/floppy-disk-pen.svg");
    }

    &.upload-icon {
        --icon-svg: url("../public/assets/graphics/file-upload.svg");
    }

    &.checklist-icon {
        --icon-svg: url("../public/assets/graphics/list-check.svg");
    }

    &.add-icon {
        --icon-svg: url("../public/assets/graphics/plus-small.svg");
    }

    &.x-icon {
        --icon-svg: url("../public/assets/graphics/circle-x.svg");
    }

    &.weather-icon {
        --icon-svg: url("../public/assets/graphics/clouds-sun.svg");
    }

    &.search-icon {
        --icon-svg: url("../public/assets/graphics/search-location.svg");
    }
}

.icon-button {
    transition: all var(--quick-transition-time) var(--bezier-function);
}

.glassy {
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 2) / 0.4),
        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
    backdrop-filter: blur(0.2rem) url("#glass-distortion");
}

.despawning {
    clip-path: circle(0% at center);
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}

smorgas-board {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    transition: background var(--med-transition-time) ease;

    &::part(cell-container) {
        position: absolute;
        inset: 0;
        display: grid;
        grid-template: repeat(var(--num-of-rows), 1fr) / repeat(var(--num-of-cols), 1fr);
        background: var(--dashboard-bg);
    }

    &::part(cell) {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        margin: 1rem;
        border: 0 solid var(--cell-bg);
        border-radius: 2rem;
        background: var(--cell-bg);
        opacity: 0.1;
        transition: all var(--med-transition-time) ease;
    }


    &.in-edit-mode {
        & ::part(handle) {
            width: 2rem;
            height: 2rem;
            padding: 1rem;
        }

        & ::part(icon-button) {
            width: 4rem;
            height: 4rem;
            padding: 1rem;
        }

        &::part(cell) {
            opacity: 1;
        }

        &::part(cell previewing) {
            width: calc(100% - 2.2rem);
            height: calc(100% - 2.2rem);
            margin: 0.1rem;
            border: 1rem solid var(--cell-bg);
        }
    }

    &:has(.being-manipulated) panel-element:not(.being-manipulated) {
        pointer-events: none;

        &::part(config-button) {
            pointer-events: none;
        }
    }
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: inset 0 0 20px 20px var(--input-bg);
    transition: 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-col);
} */

.skeleton {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: clamp(0.5rem, 5%, 1rem);
    width: 100%;
    height: min(20rem, 100%);

    & .placeholder {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: var(--small-border-radius);
        background: var(--cell-bg);

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 10rem;
            height: 400%;
            background: linear-gradient(90deg, transparent 0%, hsl(from var(--cell-bg) h s l / 0.5) 50%, transparent 100%);
            transform: translate(-10rem, -10rem) rotate(15deg);
            animation: shine 1s linear infinite var(--delay, 0s);
        }

        &:nth-of-type(1) {
            grid-area: 1 / 1 / 5 / 4;
        }

        &:nth-of-type(2) {
            --delay: 0.2s;
            grid-area: 1 / 4 / 3 / 7;
        }

        &:nth-of-type(3) {
            --delay: 0.48s;
            grid-area: 1 / 7 / 3 / 9;
        }

        &:nth-of-type(4) {
            --delay: 0.24s;
            grid-area: 3 / 4 / 4 / 8;
        }

        &:nth-of-type(5) {
            --delay: 0.26s;
            grid-area: 4 / 4 / 5 / 7;
        }

        &:nth-of-type(6) {
            --delay: 0.09s;
            grid-area: 5 / 1 / 6 / 9;
        }

        &:nth-of-type(7) {
            --delay: 0.125s;
            grid-area: 6 / 1 / 7 / 6;
        }

        &:nth-of-type(8) {
            --delay: 0.14s;
            grid-area: 7 / 1 / 8 / 7;
        }

        &:nth-of-type(9) {
            --delay: 0.155s;
            grid-area: 8 / 1 / 9 / 5;
        }

        &:nth-of-type(10) {
            --delay: 0.7s;
            grid-area: 6 / 7 / 9 / 9;
        }
    }
}

.matrix {
    display: grid;
    grid-template: repeat(var(--matrix-height), 1fr) / repeat(var(--matrix-width), 1fr);

    .matrix-cell {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        transition: all var(--med-transition-time) var(--bezier-function);

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border: 0.1rem solid var(--input-secondary);
            border-radius: var(--tiny-border-radius);
            background: var(--input-bg);
        }

        &.active::after {
            background: var(--input-accent);
            transition-duration: var(--quick-transition-time);
        }
    }
}

#modal-layer {
    position: fixed;
    inset: 0;
    z-index: 5;
    pointer-events: none;
    isolation: isolate;

    & .warning-overlay {
        position: fixed;
        inset: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        background: hsl(from var(--dashboard-bg) h s l / 0.6);
        opacity: 0;
        pointer-events: none;
        transition: all var(--med-transition-time) ease, pointer-events 0s ease var(--med-transition-time);
        backdrop-filter: blur(0.8rem);

        & .warning-title {
            font-size: var(--med-font);
        }


        & .warning-description {
            position: relative;
            max-width: 60vw;
            font-size: var(--small-font);
            text-align: justify;
        }

        & .warning-solution-steps,
        & .warning-solution-steps .solution-step {
            max-width: 60vw;
            font-size: var(--small-font);
        }

        &.visible {
            opacity: 1;
            pointer-events: all;
        }
    }

    & .off-screen-arrows {
        pointer-events: none;

        & .icon {
            position: absolute;
            width: 8rem;
            height: 8rem;
            background: var(--input-accent);
            opacity: 0;
            filter: drop-shadow(0 0 0.5rem var(--shadow-col));
            transition: all var(--quick-transition-time) ease;
            animation-duration: 0.5s;
            animation-play-state: paused;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;

            &#off-screen-right {
                top: calc(50% - 4rem);
                right: 2rem;
                animation-name: arrow-bounce;
            }

            &#off-screen-down {
                bottom: 2rem;
                left: calc(50% - 4rem);
                transform: rotate(90deg);
                animation-name: arrow-bounce-down;
            }

            &.visible {
                opacity: 1;
            }
        }
    }
}

body:has(.panel) {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 40%;
    height: 30rem;
}

.context-menu:has(#dimensions-item:hover) ~ #modal-layer {

    /* A comment because my linter doesn't like this blank line */

    & #off-screen-down,
    & #off-screen-right {
        animation-play-state: running;
    }
}



@keyframes pulse-check {
    50% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@media (hover: hover) {
    #nav {

        /* Fixing stylelint inconsistency in media queries */

        .main-nav,
        .context-nav {
            opacity: 0;
            pointer-events: none;
        }

        .nav-entry .button:hover {
            & .icon {
                filter: brightness(1.5);
            }

            & .personal-icon {
                transform: translate(-0.5rem, 0.2rem) rotate(-10deg);
            }

            & .cloud-exclam-icon {
                opacity: 1;
                transform: scale(0.8) translate(1rem, -1rem) rotate(15deg);
            }
        }
    }
}