#auth-form {
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--input-padding);
    align-items: center;
    margin: 0;
    padding: 10rem;
    background: var(--panel-bg);
    pointer-events: all;
    transition-timing-function: var(--bezier-function);
    transition-duration: var(--med-transition-time);
    transition-property: clip-path, transform, opacity, margin, margin-top;

    & .form-title-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: var(--input-height);
        transition: inherit;
        transition-duration: var(--quick-transition-time);

        h1 {
            position: absolute;
            transition: inherit;

            &#register-title {
                opacity: 0;
                transform: translate(-10rem);
            }
        }
    }

    & .string-selector {
        max-width: 95vw;
        max-width: 95svw;
    }

    & #username-selector {
        position: absolute;
        opacity: 0;
        transform: translate(0, var(--input-height));
    }

    & #email-selector {
        margin: 0;
    }

    & #password-selector {
        margin-top: 0;

        & #password {
            padding-right: 4rem;
        }

        & #password-visibility-button {
            --icon-svg: url("../public/assets/graphics/eye.svg");
            position: absolute;
            right: 1rem;
            background: var(--input-secondary);
            cursor: pointer;
            pointer-events: all;
            transition: background var(--quick-transition-time) var(--bezier-function);
        }
    }

    & button {
        position: absolute;

        &#register-button {
            opacity: 0;
            pointer-events: none;
            transform: translate(-12rem);
        }

        &#close-form-button {
            top: var(--input-padding);
            right: var(--input-padding);
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 13rem;

            &:hover {
                width: 18rem;
            }

            & .exit-icon {
                background: var(--text-primary);
            }
        }
    }

    & .subtitle-container {
        display: flex;
        justify-content: center;
        height: var(--input-padding);
        margin-top: auto;
        margin-bottom: -1rem;
        transition: inherit;
        transition-duration: var(--quick-transition-time);

        & .subtitle {
            position: absolute;
            user-select: none;
            transition: inherit;

            &#login-subtitle {
                opacity: 0;
                pointer-events: none;
                transform: translate(-15rem);
            }
        }
    }

    &.new-user {
        & #username-selector {
            opacity: 1;
        }

        & #email-selector {
            margin-top: calc(var(--input-height) + var(--input-padding));
        }

        & .form-title-container h1 {
            &#register-title {
                opacity: 1;
                transform: translate(0);
            }

            &#login-title {
                opacity: 0;
                transform: translate(10rem);
            }
        }

        & .button-container {
            & .button {
                &#register-button {
                    opacity: 1;
                    pointer-events: all;
                    transform: translate(0);
                }

                &#login-button {
                    opacity: 0;
                    pointer-events: none;
                    transform: translate(12rem);
                }
            }
        }

        & .subtitle-container {
            & .subtitle {
                &#register-subtitle {
                    opacity: 0;
                    pointer-events: none;
                    transform: translate(15rem);
                }

                &#login-subtitle {
                    opacity: 1;
                    pointer-events: all;
                    transform: translate(0);
                }
            }
        }
    }

    &:not(.visible) {
        clip-path: circle(0% at calc(100% - 5rem) calc(100% - 5rem));
    }

    &.visible {
        clip-path: circle(200% at center)
    }
}