.context-menu {
    position: absolute;
    z-index: 10;
    width: 22rem;
    height: 16rem;
    padding: 0.5rem;

    & .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 22rem;
        margin: 0.5rem;
        border-radius: var(--small-border-radius);
        background: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
        list-style: none;
        font-size: var(--small-font);
        filter: drop-shadow(0 0 0.5rem var(--shadow-col));
        transition: width var(--quick-transition-time) ease var(--med-transition-time),
            background var(--med-transition-time) ease;

        & .item {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: visible;
            width: 100%;
            height: 3rem;
            margin: 0.2rem 0;
            padding: 0.8rem;
            border-radius: calc(var(--small-border-radius) * 0.8);
            cursor: pointer;
            transition: inherit;

            &:hover {
                background: var(--cell-bg);
            }

            & .icon {
                background-color: var(--text-col);
            }

            & .item-text {
                white-space: nowrap;
                user-select: none;
            }

            & .sub-menu {
                z-index: 2;
                overflow: hidden;
                width: 0;
            }

            &#theme-item:hover,
            &#add-panel-item:hover {
                & .menu-caret {
                    transform: rotate(0deg);
                }

                & .sub-menu {
                    width: inherit;
                    background: var(--panel-bg);
                    backdrop-filter: inherit;
                }
            }


        }

        & #remove-panel-section:not(.visible) {
            height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            pointer-events: none;

        }

        & a {
            position: absolute;
            inset: 0;
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            padding: inherit;
            color: inherit;
            font-size: inherit;
            text-decoration: none;
            transition: inherit;
        }

        & .context-menu-spacer {
            height: 0.1rem;
            backdrop-filter: brightness(0.8);
        }
    }

    &:not(.visible) {
        visibility: hidden;
    }
}