.context-menu {
    position: fixed;
    z-index: 6;
    width: 20rem;
    visibility: hidden;
    transform: translate(var(--x), var(--y));

    & .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        height: max-content;
        border-radius: var(--small-border-radius);
        background: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
        list-style: none;
        font-size: var(--font-s);
        filter: drop-shadow(0 0 0.5rem var(--shadow-col));
        transition: transform var(--quick-transition-time) ease var(--med-transition-time);
        transform-origin: left;

        &:not(#dimensions-menu) {
            width: 100%;
        }


        & .section {
            display: inherit;
            flex-flow: inherit;
            gap: 0;
            justify-content: inherit;
            align-items: inherit;
            width: 100%;
            max-height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            pointer-events: none;
            transition: max-height var(--med-transition-time) var(--bezier-function), filter var(--quick-transition-time) ease, transform var(--med-transition-time) var(--bezier-function), opacity var(--med-transition-time) var(--bezier-function);
            transform-origin: top;


            & .icon,
            & .item-text {
                transition: opacity var(--med-transition-time) var(--bezier-function), transform var(--quick-transition-time) ease;
            }
        }

        & .item {
            position: relative;
            display: flex;
            align-items: center;
            overflow: visible;
            width: 100%;
            margin: 0.2rem 0;
            padding: 0.8rem;
            border-radius: calc(var(--small-border-radius) * 0.8);
            cursor: pointer;
            transition: inherit;

            & .icon {
                background-color: var(--text-primary);
                pointer-events: none;
            }

            & .item-text {
                overflow: hidden;
                white-space: nowrap;
                pointer-events: none;
                user-select: none;
            }

            &.hover-item .sub-menu {
                position: absolute;
                z-index: 2;
                overflow: hidden auto;
                background: var(--panel-bg);
                transition: inherit;
                transform: scaleX(0);


                &:not(#dimensions-menu) {
                    max-height: 10.5rem;
                }

                & .item {
                    opacity: 0;
                    transition: inherit;
                    transform-origin: left;
                }
            }

            &.hover-item.active {
                & .menu-caret {
                    transform: rotate(0deg);
                }

                & .sub-menu.hover-menu {
                    transform: scaleX(1);

                    &::before,
                    & .item {
                        opacity: 1;
                    }

                    &#dimensions-menu {
                        width: calc(1.5rem * var(--matrix-width) + 1.6rem);
                    }
                }
            }

            &:not(#matrix-item) {
                justify-content: space-between;
                height: 3rem;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                    border-radius: inherit;
                    background: var(--cell-bg);
                    opacity: 0;
                    transition: opacity var(--quick-transition-time) ease;
                }

                &:hover::before {
                    opacity: 1;
                }
            }

            &#matrix-item {
                justify-content: center;
            }
        }

        & #edit-items-section:is(.in-edit-mode ~ .context-menu #edit-items-section),
        & #remove-panel-section.visible:is(.in-edit-mode ~ .context-menu #remove-panel-section) {
            max-height: 20rem;
            opacity: 1;
            pointer-events: all;

            & .icon,
            & .item-text {
                opacity: 1;
            }
        }

        & #remove-panel-section.visible:is(.in-edit-mode ~ .context-menu #remove-panel-section) {
            max-height: 10rem;
            pointer-events: all;

            & .icon,
            & .item-text {
                opacity: 1;
            }
        }

        & a {
            position: absolute;
            inset: 0;
            z-index: 1;
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            padding: inherit;
            color: inherit;
            font-size: inherit;
            text-decoration: none;
            transition: inherit;
        }

        & .context-menu-spacer {
            width: 80%;
            height: 0.2rem;
            border-radius: 0.5rem;
            background: var(--cell-bg);
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: -1.5rem;
    }

    &.lerping {
        transition: transform var(--med-transition-time) var(--bezier-function);
        transform: translate(var(--x), var(--y-vector));
    }

    &.visible {
        visibility: visible;
    }
}