.context-menu {
    position: fixed;
    z-index: 6;
    width: 22rem;
    visibility: hidden;
    transform: translate(var(--x), var(--y));

    & .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: max-content;
        margin: 0.5rem;
        border-radius: var(--small-border-radius);
        background: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
        list-style: none;
        font-size: var(--font-s);
        filter: drop-shadow(0 0 0.5rem var(--shadow-col));
        transition: width var(--quick-transition-time) ease var(--med-transition-time),
            background var(--med-transition-time) ease;
        transform-origin: bottom;

        & .section {
            display: inherit;
            flex-flow: inherit;
            gap: 0;
            justify-content: inherit;
            align-items: inherit;
            width: 100%;
            max-height: 0;
            margin: 0;
            padding: 0;
            pointer-events: none;
            transition: max-height var(--med-transition-time) var(--bezier-function), background var(--quick-transition-time) ease;


            & .icon,
            & .item-text {
                overflow: hidden;
                max-height: 0;
                margin: 0;
                padding: 0;
                opacity: 0;
                transition: max-height var(--med-transition-time) var(--bezier-function), opacity var(--med-transition-time) var(--bezier-function), transform var(--quick-transition-time) ease;
            }
        }

        & .item {
            position: relative;
            display: flex;
            align-items: center;
            overflow: visible;
            width: 100%;
            margin: 0.2rem 0;
            padding: 0.8rem;
            border-radius: calc(var(--small-border-radius) * 0.8);
            cursor: pointer;
            transition: inherit;

            & .icon {
                background-color: var(--text-primary);
                pointer-events: none;
            }

            & .item-text {
                overflow: hidden;
                white-space: nowrap;
                pointer-events: none;
                user-select: none;
            }

            &.hover-item .sub-menu {
                position: absolute;
                z-index: 2;
                overflow: hidden auto;
                width: 0;

                &:not(#dimensions-menu) {
                    max-height: 10.5rem;
                }
            }

            &.hover-item.active {
                & .menu-caret {
                    transform: rotate(0deg);
                }

                & .sub-menu.hover-menu {
                    background: var(--panel-bg);
                    backdrop-filter: inherit;

                    &:not(#dimensions-menu) {
                        width: inherit;
                    }

                    &#dimensions-menu {
                        width: calc(1.5rem * var(--matrix-width) + 1.6rem);
                    }
                }
            }

            &:is(.section > .item) {
                padding: 0 0.8rem;
            }

            &:not(#matrix-item) {
                justify-content: space-between;
                height: 3rem;

                &:hover {
                    background: var(--cell-bg);
                }
            }

            &#matrix-item {
                justify-content: center;
            }
        }

        & #edit-items-section:is(.in-edit-mode ~ .context-menu #edit-items-section) {
            max-height: 20rem;
            pointer-events: all;

            & .icon,
            & .item-text {
                overflow: hidden;
                max-height: 10rem;
                opacity: 1;
            }
        }

        & #remove-panel-section.visible:is(.in-edit-mode ~ .context-menu #remove-panel-section) {
            max-height: 10rem;
            pointer-events: all;

            & .icon,
            & .item-text {
                overflow: hidden;
                max-height: 10rem;
                opacity: 1;
            }
        }

        & a {
            position: absolute;
            inset: 0;
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            padding: inherit;
            color: inherit;
            font-size: inherit;
            text-decoration: none;
            transition: inherit;
        }

        & .context-menu-spacer {
            width: 80%;
            height: 0.1rem;
            border-radius: 0.5rem;
            background: var(--cell-bg);
            transition: height var(--med-transition-time) var(--bezier-function);

            &:is(.in-edit-mode ~ .context-menu .context-menu-spacer) {
                height: 0.2rem;
            }
        }
    }

    &.lerping {
        transition: transform var(--med-transition-time) var(--bezier-function);
        transform: translate(var(--x), var(--y-vector));
    }

    &.visible {
        visibility: visible;
    }
}