* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.selector-bar {
    position: relative;
}


.selector {
    margin: var(--input-padding) 0;
    color: var(--text-primary);
    transition: all var(--med-transition-time) ease;
    isolation: isolate;

    &.dropdown-selector {
        position: relative;
        width: var(--input-width);
        font-size: var(--font-s);
        cursor: pointer;

        & .selection {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: var(--input-width);
            height: var(--input-height);
            padding: var(--input-padding);
            border-radius: var(--small-border-radius);
            background: var(--input-bg);
            box-shadow: inset 0.2rem 0.2rem 0.1rem 0.1rem hsl(from var(--input-bg) h s calc(l * 2) / 0.8),
                inset -0.2rem -0.2rem 0.1rem 0.1rem hsl(from var(--input-bg) h s calc(l * 0.4) / 0.8),
                0 0 0.5rem 0 var(--shadow-col);
            user-select: none;
            transition: var(--quick-transition-time) ease;

            & .menu-caret {
                --icon-svg: url("../assets/graphics/angle-small-right.svg");
                background: var(--input-accent);
                transition: var(--quick-transition-time) ease;
                transform: rotate(90deg);
            }

            &:hover {
                background: hsl(from var(--input-bg) h s calc(l * 1.2));
            }
        }

        & .dropdown-list {
            position: absolute;
            top: calc(var(--input-padding) * 0.8 + var(--small-border-radius));
            z-index: -1;
            overflow: hidden;
            width: var(--input-width);
            max-height: 0;
            border: 1px solid var(--cell-bg);
            border-radius: 0 0 var(--small-border-radius) var(--small-border-radius);
            background: hsl(from var(--input-bg) h s calc(l * 0.6));
            box-shadow: inset 0 0 1rem 0.2rem var(--shadow-col);
            list-style: none;
            transition: all var(--quick-transition-time) ease;

            & .dropdown-item {
                display: flex;
                flex-flow: row;
                gap: 1rem;
                padding: calc(var(--input-padding) / 2) var(--input-padding);
                border-top: inherit;
                transition: var(--quick-transition-time) var(--bezier-function);

                &:first-of-type {
                    padding-top: calc(1.8 * var(--input-padding));
                    border-top: none;
                }

                & .item-content {
                    display: flex;
                    flex-flow: row;
                    gap: 1rem;
                    user-select: none;
                    transition: all var(--quick-transition-time) var(--bezier-function);

                    & .selected-icon {
                        --icon-svg: url("../assets/graphics/hand-back-point-left.svg");
                        height: auto;
                        background: var(--input-accent);
                        opacity: 0;
                        transition: all var(--med-transition-time) var(--bezier-function);
                        transform: translate(8rem);
                    }

                    & .item-text {
                        display: inline-block;
                        width: fit-content;
                        font-size: var(--font-s);
                    }
                }

                & .selected-icon.visible {
                    opacity: 1;
                    transform: translate(0);

                    /* position: absolute; */
                }

                &:hover {
                    background: var(--cell-bg);

                    & .item-content {
                        transform: translate(3rem);
                    }
                }
            }
        }

        &.open {
            & .selection .menu-caret {
                transform: rotate(270deg);
            }

            & .dropdown-list {
                max-height: 18rem;
            }
        }

        &.focused {
            z-index: 5;
        }
    }

    &.toggle-selector {
        --input-width: 8rem;
        position: relative;
        width: var(--input-width);
        height: var(--input-height);
        border-radius: var(--small-border-radius);
        filter: brightness(0.6);
        transition: all var(--med-transition-time) var(--bezier-function);

        & .toggle-checkbox-background {
            position: absolute;
            inset: 0;
            padding: calc(var(--input-padding) / 3);
            border-radius: inherit;
            background: var(--input-bg);
            box-shadow: inset 0 0 1rem 0.1rem var(--shadow-col),
                inset 0 0 0.5rem 0.1rem var(--shadow-col);
            cursor: pointer;
            transition: all var(--med-transition-time) var(--bezier-function);

            & .toggle-checkbox-button {
                position: relative;
                display: block;
                width: 50%;
                height: 100%;
                border-radius: inherit;
                background: var(--input-secondary);
                box-shadow: 0 0 0.5rem 0.1rem var(--shadow-col);
                transition: inherit;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 0.8rem;
                    background: hsl(from var(--input-bg) h s calc(l * 0.8));
                    transition: inherit;
                }

                &::before {
                    width: 70%;
                    border-radius: var(--small-border-radius);
                    transform: translate(20%, 140%) rotate(45deg);
                }

                &::after {
                    width: 70%;
                    border-radius: var(--small-border-radius);
                    transform: translate(20%, 140%) rotate(-45deg);
                }
            }
        }

        & .toggle-checkbox {
            display: none;
        }

        & .toggle-checkbox-background:has(.toggle-checkbox:checked) {
            & .toggle-checkbox-button {
                transform: translate(100%);

                &::before,
                &::after {
                    background: var(--input-accent);
                    box-shadow: 0 0 0.2rem 0 var(--input-accent);
                }

                &::before {
                    width: 40%;
                    border-radius: var(--small-border-radius);
                    transform: translate(45%, 170%) rotate(45deg);
                }

                &::after {
                    width: 60%;
                    border-radius: var(--small-border-radius);
                    transform: translate(50%, 140%) rotate(135deg);
                }
            }
        }

        &:hover {
            filter: brightness(0.7);
        }

        &:has(.toggle-checkbox:checked) {
            filter: none;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    &.range-selector {
        position: relative;
        width: var(--input-width);
        font-weight: bold;
        font-size: var(--font-s);
        letter-spacing: 0.2rem;
        transition: var(--quick-transition-time) ease;
        isolation: isolate;

        & .range-selector-label {
            display: flex;
            gap: var(--input-padding);
            justify-content: center;
            align-items: center;

            & .range-selector-text {
                width: var(--input-height);
                text-align: right;
                text-shadow: -0.05rem -0.05rem 0.1rem var(--shadow-col),
                    0.05rem -0.05rem 0.1rem var(--shadow-col),
                    0 0.05rem 0.1rem var(--shadow-col);
                filter: drop-shadow(0 0 calc(var(--fill-amount) * 0.15rem) var(--input-accent));
            }

            & .range-slider {
                --fill-percentage: calc(var(--fill-amount) * 100%);
                position: relative;
                display: block;
                width: 100%;
                background: transparent;
                transition: inherit;
                appearance: none;

                &::-webkit-slider-runnable-track {
                    height: 1.5rem;
                    border-radius: var(--tiny-border-radius);
                    background: var(--input-bg);
                    box-shadow: inset 0 0 0.5rem 0 var(--shadow-col),
                        inset 0 0 0.5rem 0.1rem var(--shadow-col);
                    appearance: none;
                }

                &::-webkit-slider-thumb {
                    width: 2rem;
                    height: 2rem;
                    border-radius: var(--tiny-border-radius);
                    background: var(--input-secondary);
                    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
                        inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l * 2) / 0.6),
                        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l * 0.4) / 0.6),
                        0 0 0 -0.2rem transparent,
                        inset calc(0.3rem * var(--fill-amount)) 0 calc(0.3rem * var(--fill-amount)) 0 var(--input-accent);
                    cursor: grab;
                    transition: all var(--med-transition-time) ease;
                    transform: translateY(-0.25rem);
                    appearance: none;
                }

                &::-webkit-slider-thumb:hover {
                    background: hsl(from var(--input-secondary) h s calc(l * 1.1));
                    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
                        inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l * 2) / 0.6),
                        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l * 0.4) / 0.6),
                        0 0 0 0.7rem hsl(from var(--input-accent) h s l / 0.1),
                        inset calc(0.3rem * var(--fill-amount)) 0 calc(0.3rem * var(--fill-amount)) 0 var(--input-accent);
                }

                &::-webkit-slider-thumb:active {
                    background: hsl(from var(--input-secondary) h s calc(l * 0.8));
                    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
                        inset 0.1rem 0.1rem 0.1rem 0 hsl(from var(--input-secondary) h s calc(l * 2) / 0.6),
                        inset -0.1rem -0.1rem 0.1rem 0 hsl(from var(--input-secondary) h s calc(l * 0.4) / 0.6),
                        0 0 0 1rem hsl(from var(--input-accent) h s l / 0.2),
                        inset calc(0.2rem * var(--fill-amount)) 0 calc(0.2rem * var(--fill-amount)) 0 var(--input-accent);
                    cursor: grabbing;
                }

                &:focus {
                    outline: none;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: clamp(5%,
                            calc(var(--fill-percentage) * 0.92),
                            90%);
                    height: 100%;
                    border-radius: var(--tiny-border-radius) 0 0 var(--tiny-border-radius);
                    background: var(--input-accent);
                    box-shadow: 0 0 0.2rem 0.1rem var(--shadow-col) inset,
                        -0.1rem 0.1rem 0.1rem -0.1rem var(--cell-bg),
                        0 0 calc(var(--fill-amount) * 0.8rem) 0 var(--input-accent);
                }
            }
        }
    }

    &.string-selector {
        position: relative;
        max-width: 100%;

        & .string-selector-label {
            position: relative;
            transition: all var(--quick-transition-time) var(--bezier-function), border var(--med-transition-time) var(--jelly-function);

            & .string-selector-label-text {
                position: absolute;
                top: calc(50% - var(--font-s) / 2);
                left: 0;
                height: calc(var(--font-xs) + 0.25 * var(--input-padding));
                padding: 0 var(--input-padding);
                border: 0 solid transparent;
                border-radius: var(--small-border-radius) var(--small-border-radius) 0 0;
                color: hsl(from var(--text-primary) h s l / 0.5);
                font-size: var(--font-s);
                white-space: nowrap;
                pointer-events: none;
                user-select: none;
                transition: inherit;
            }

            & .string-selector-input {
                overflow: visible;
                width: var(--input-width);
                max-width: 100%;
                height: var(--input-height);
                padding: var(--input-padding);
                border: 0 solid transparent;
                border-radius: var(--small-border-radius);
                background-color: var(--input-bg);
                color: var(--text-primary);
                box-shadow: inset 0 0.1rem 1.4rem 0 var(--shadow-col),
                    0 0 0 0 transparent, inset 0 0 0 0 transparent,
                    inset 0 0 0 0 transparent;
                outline: none;
                font-size: var(--font-s);
                font-family: inherit;
                transition: inherit;

                &:focus,
                &:hover,
                &:not(input[type="email"], input[type="password"]):valid,
                &:is(input[type="email"]):not(:placeholder-shown),
                &:is(input[type="password"]):not(:placeholder-shown) {
                    box-shadow: inset 0 0 0 0 transparent,
                        0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
                        inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 2) / 0.6),
                        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 0.4) / 0.6);

                    & ~ .string-selector-label-text {
                        padding: calc(0.25 * var(--input-padding)) var(--input-padding);
                        background-color: var(--input-bg);
                        color: var(--text-primary);
                        box-shadow: inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 2) / 0.6),
                            0 0.5rem 0 0 var(--input-bg);
                        font-size: var(--font-xs);
                        letter-spacing: 0.2rem;
                        transform: translate(0.8rem,
                                calc(-0.5 * var(--input-height) - 0.3 * var(--font-xs)));
                    }
                }

                &:is(input[type="email"]):not(:valid, :placeholder-shown),
                &:is(input[type="password"]):not(:valid, :placeholder-shown) {
                    border: 4px solid var(--alert-error-bg);
                    transform: scale(1, 1.1);

                    & ~ .string-selector-label-text {
                        border: 4px solid var(--alert-error-bg);
                        border-bottom: none;
                    }
                }
            }
        }
    }

    &.string-selector.selector-bar-selector {
        width: 100%;

        & ~ .selector-bar-button {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--input-height);
            height: var(--input-height);
            border-radius: var(--small-border-radius);
            background: var(--input-secondary);
            box-shadow: inset 0 0.1rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*1.5)), inset -0.1rem -0.1rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*0.4)), 0.2rem 0.2rem 0.2rem 0 var(--shadow-col);
            cursor: pointer;

            & .selector-bar-icon {
                background: var(--input-bg);
                transition: inherit;
            }

            &:hover {
                background: var(--input-bg);
                box-shadow: inset 0.1rem 0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*1.5)), inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*0.4)), 0.3rem 0.3rem 0.2rem 0 var(--shadow-col);

                & .selector-bar-icon {
                    background: var(--input-accent);
                }
            }
        }

        & .selector-bar-input {
            width: 100%;
            will-change: transform;

            &.selector-bar-input {
                padding-right: calc(var(--input-height) + var(--input-padding));
            }

            & ~ .selector-bar-label-text {
                top: calc(50% - 0.6 * var(--font-s));
            }
        }
    }

    &.checkbox-selector {
        position: relative;
        width: 100%;

        & .checkbox-label {
            position: relative;
            display: inline-flex;
            flex-flow: row nowrap;
            gap: 1rem;
            align-items: center;
            height: 100%;
            overflow-wrap: break-word;
            cursor: pointer;
            transition: all var(--quick-transition-time) ease;
            isolation: isolate;

            & .checkbox-input {
                display: none;
            }

            & .checkbox-tick {
                position: relative;
                inset: 0;
                display: block;
                width: 2rem;
                height: 2rem;
                border: 0.2rem solid transparent;
                border-radius: var(--tiny-border-radius);
                background: var(--input-secondary);
                transition: inherit;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                    display: block;
                    border-radius: inherit;
                    background: var(--input-accent);
                    opacity: 0;
                }

                & .checkbox-tick-svg {
                    fill: none;
                    stroke: var(--input-bg);
                    transition: all var(--quick-transition-time) ease, stroke-dashoffset var(--med-transition-time) ease;
                    stroke-dasharray: 131;
                    stroke-dashoffset: -130;
                    stroke-linejoin: round;
                    stroke-linecap: round;
                    stroke-width: 0.4rem;
                }
            }

            &:hover .checkbox-tick {
                border-color: var(--input-secondary);
                background: var(--input-bg);
                transform: scale(1.1);
            }

            & .checkbox-input:checked {
                & ~ .checkbox-tick {
                    background: var(--input-accent);

                    & .checkbox-tick-svg {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 131;
                    }

                    &::before {
                        animation: pulse-check var(--med-transition-time) ease forwards;
                    }
                }

                &:hover ~ .checkbox-tick {
                    border-color: var(--input-accent);
                }
            }
        }
    }
}

::-webkit-scrollbar {
    max-width: 1rem;
    cursor: grab;
}

::-webkit-scrollbar:horizontal {
    max-height: 1rem;
}

::-webkit-scrollbar-track {
    border-radius: var(--small-border-radius);
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    z-index: 2;
    max-width: 1rem;
    border-radius: var(--small-border-radius);
    background: var(--scrollbar-thumb-col);
    cursor: grab;
    transition: all var(--med-transition-time) ease;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(from var(--scrollbar-thumb-col) h s calc(l*1.2));
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-resizer {
    display: none;
}

.button-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    height: var(--input-height);
    transition: inherit;
    transition-duration: var(--quick-transition-time);
}

button {
    width: 10rem;
    height: var(--input-height);
    border: none;
    border-radius: var(--small-border-radius);
    background: var(--input-bg);
    color: inherit;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
        inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 2) / 0.6),
        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 0.4) / 0.6),
        0 0 0 -0.2rem transparent;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    transition: inherit;

    &:hover {
        width: 12rem;
        background: hsl(from var(--input-bg) h s calc(l * 1.1));
        box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
            inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 2) / 0.6),
            inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 0.4) / 0.6);
        letter-spacing: 0.4rem;
    }

    &:active {
        background: hsl(from var(--input-bg) h s calc(l * 0.8));
        box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
            inset 0.1rem 0.1rem 0.1rem 0 hsl(from var(--input-secondary) h s calc(l * 2) / 0.6),
            inset -0.1rem -0.1rem 0.1rem 0 hsl(from var(--input-secondary) h s calc(l * 0.4) / 0.6);
    }

}