* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.selector-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    & .selector-bar-selector,
    & .selector-bar-button,
    & .search-results {
        pointer-events: all;
    }
}


.selector {
    margin: var(--input-padding) 0;
    color: var(--text-primary);
    transition:
        box-shadow var(--quick-transition-time) var(--bezier-function),
        transform var(--quick-transition-time) var(--bezier-function),
        opacity var(--quick-transition-time) ease,
        clip-path var(--quick-transition-time) var(--bezier-function),
        filter var(--med-transition-time) ease;
    isolation: isolate;

    &.dropdown-selector {
        position: relative;
        width: var(--input-width);
        font-size: var(--font-s);
        cursor: pointer;

        & .selection {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: var(--input-width);
            height: var(--input-height);
            padding: var(--input-padding);
            border-radius: var(--small-border-radius);
            background: var(--input-bg);
            box-shadow: inset 0.2rem 0.2rem 0.1rem 0.1rem hsl(from var(--input-bg) h s calc(l * 2) / 0.8),
                inset -0.2rem -0.2rem 0.1rem 0.1rem hsl(from var(--input-bg) h s calc(l * 0.4) / 0.8),
                0 0 0.5rem 0 var(--shadow-col);
            user-select: none;
            transition: filter var(--quick-transition-time) ease;

            & .menu-caret {
                --icon-svg: url("../assets/graphics/angle-small-right.svg");
                background: var(--input-accent);
                transition: transform var(--quick-transition-time) ease;
                transform: rotate(90deg);
            }

            &:hover {
                filter: brightness(1.2);
            }
        }

        & .dropdown-list {
            position: absolute;
            top: calc(var(--input-padding) * 0.8 + var(--small-border-radius));
            z-index: -1;
            overflow: hidden;
            width: var(--input-width);
            border: 1px solid var(--cell-bg);
            border-radius: 0 0 var(--small-border-radius) var(--small-border-radius);
            background: hsl(from var(--input-bg) h s calc(l * 0.6));
            box-shadow: inset 0 0 1rem 0.2rem var(--shadow-col);
            list-style: none;
            transition: transform var(--quick-transition-time) ease;
            transform: scaleY(0);
            transform-origin: top;

            & .dropdown-item {
                position: relative;
                display: flex;
                flex-flow: row;
                gap: 1rem;
                padding: calc(var(--input-padding) / 2) var(--input-padding);
                border-top: inherit;
                opacity: 0;
                transition: opacity var(--quick-transition-time) ease;

                &:first-of-type {
                    padding-top: calc(1.8 * var(--input-padding));
                    border-top: none;
                }

                & .item-content {
                    display: flex;
                    flex-flow: row;
                    gap: 1rem;
                    user-select: none;
                    transition-timing-function: var(--bezier-function);
                    transition-duration: var(--quick-transition-time);
                    transition-property: transform;

                    & .selected-icon {
                        --icon-svg: url("../assets/graphics/hand-back-point-left.svg");
                        height: auto;
                        background: var(--input-accent);
                        opacity: 0;
                        transition-timing-function: var(--bezier-function);
                        transition-duration: var(--med-transition-time);
                        transition-property: opacity, transform;
                        transform: translate(8rem);
                    }

                    & .item-text {
                        display: inline-block;
                        width: fit-content;
                        font-size: var(--font-s);
                    }
                }

                & .selected-icon.visible {
                    opacity: 1;
                    transform: translate(0);
                }

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                    background: var(--input-bg);
                    opacity: 0;
                    transition: inherit;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }

                    & .item-content {
                        transform: translate(3rem);
                    }
                }
            }
        }

        &.open {
            & .selection .menu-caret {
                transform: rotate(270deg);
            }

            & .dropdown-list {
                transform: scaleY(1);

                & .dropdown-item {
                    opacity: 1;
                }
            }
        }

        &.focused {
            z-index: 5;
        }
    }

    &.toggle-selector {
        --input-width: 8rem;
        position: relative;
        width: var(--input-width);
        height: var(--input-height);
        border-radius: var(--small-border-radius);
        filter: brightness(0.6);
        transition: filter var(--med-transition-time) var(--bezier-function);

        & .toggle-checkbox-background {
            position: absolute;
            inset: 0;
            padding: calc(var(--input-padding) / 3);
            border-radius: inherit;
            background: var(--input-bg);
            box-shadow: inset 0 0 1rem 0.1rem var(--shadow-col),
                inset 0 0 0.5rem 0.1rem var(--shadow-col);
            cursor: pointer;
            transition-timing-function: var(--bezier-function);
            transition-duration: var(--med-transition-time);
            transition-property: transform, opacity;

            & .toggle-checkbox-button {
                position: relative;
                display: block;
                width: 50%;
                height: 100%;
                border-radius: inherit;
                background: var(--input-secondary);
                box-shadow: 0 0 0.5rem 0.1rem var(--shadow-col);
                transition: inherit;

                & .toggle-p1,
                & .toggle-p2 {
                    display: block;
                    transition: inherit;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        inset: 0;
                        height: 0.8rem;
                        border-radius: var(--small-border-radius);
                        transition: inherit;
                    }
                }

                & .toggle-p1::before {
                    width: 70%;
                    background: hsl(from var(--input-bg) h s calc(l * 0.8));
                    transform: scaleX(1) translate(20%, 140%) rotate(45deg);
                }

                & .toggle-p1::after {
                    width: 40%;
                    background: var(--input-accent);
                    box-shadow: 0 0 0.2rem 0 var(--input-accent);
                    opacity: 0;
                    transform: translate(20%, 140%) rotate(45deg);
                }

                & .toggle-p2::before {
                    width: 70%;
                    border-radius: var(--small-border-radius);
                    background: hsl(from var(--input-bg) h s calc(l * 0.8));
                    transform: translate(20%, 140%) rotate(-45deg);
                }

                & .toggle-p2::after {
                    width: 60%;
                    background: var(--input-accent);
                    box-shadow: 0 0 0.2rem 0 var(--input-accent);
                    opacity: 0;
                    transform: translate(20%, 140%) rotate(-45deg);
                }
            }
        }

        & .toggle-checkbox {
            display: none;
        }

        &:hover {
            filter: brightness(0.7);
        }

        &.checked {
            filter: none;

            &:hover {
                filter: brightness(0.9);
            }

            & .toggle-checkbox-button {
                transform: translate(100%);

                & .toggle-p1::before {
                    opacity: 0;
                    transform: scaleX(0.6) translate(45%, 170%) rotate(45deg);
                }

                & .toggle-p1::after {
                    opacity: 1;
                    transform: translate(45%, 170%) rotate(45deg);
                }

                & .toggle-p2::before {
                    opacity: 0;
                    transform: translate(50%, 140%) rotate(135deg);
                }

                & .toggle-p2::after {
                    opacity: 1;
                    transform: translate(50%, 140%) rotate(135deg);
                }
            }
        }
    }

    &.range-selector {
        position: relative;
        width: var(--input-width);
        font-weight: bold;
        font-size: var(--font-s);
        letter-spacing: 0.2rem;
        isolation: isolate;

        & .range-selector-label {
            display: flex;
            gap: var(--input-padding);
            justify-content: center;
            align-items: center;
            transition: inherit;

            & .range-selector-text {
                width: var(--input-height);
                text-align: right;
                text-shadow: -0.05rem -0.05rem 0.1rem var(--shadow-col),
                    0.05rem -0.05rem 0.1rem var(--shadow-col),
                    0 0.05rem 0.1rem var(--shadow-col);
                filter: drop-shadow(0 0 calc(var(--fill-amount) * 0.15rem) var(--input-accent));
            }

            & .range-slider {
                --fill-percentage: calc(var(--fill-amount) * 100%);
                position: relative;
                display: block;
                width: 100%;
                background: transparent;
                transition: inherit;
                appearance: none;

                &::-webkit-slider-runnable-track {
                    height: 1.5rem;
                    border-radius: var(--tiny-border-radius);
                    background: var(--input-bg);
                    box-shadow: inset 0 0 0.5rem 0 var(--shadow-col),
                        inset 0 0 0.5rem 0.1rem var(--shadow-col);
                    appearance: none;
                }

                &::-webkit-slider-thumb {
                    width: 2rem;
                    height: 2rem;
                    border-radius: var(--tiny-border-radius);
                    background: var(--input-secondary);
                    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
                        inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l * 2) / 0.6),
                        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l * 0.4) / 0.6),
                        0 0 0 -0.2rem transparent,
                        inset calc(0.3rem * var(--fill-amount)) 0 calc(0.3rem * var(--fill-amount)) 0 var(--input-accent);
                    cursor: grab;
                    transition: inherit;
                    transform: translateY(-0.25rem);
                    appearance: none;
                }

                &::-webkit-slider-thumb:hover {
                    background: hsl(from var(--input-secondary) h s calc(l * 1.1));
                    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
                        inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l * 2) / 0.6),
                        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l * 0.4) / 0.6),
                        0 0 0 0.7rem hsl(from var(--input-accent) h s l / 0.1),
                        inset calc(0.3rem * var(--fill-amount)) 0 calc(0.3rem * var(--fill-amount)) 0 var(--input-accent);
                }

                &::-webkit-slider-thumb:active {
                    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
                        inset 0.1rem 0.1rem 0.1rem 0 hsl(from var(--input-secondary) h s calc(l * 2) / 0.6),
                        inset -0.1rem -0.1rem 0.1rem 0 hsl(from var(--input-secondary) h s calc(l * 0.4) / 0.6),
                        0 0 0 1rem hsl(from var(--input-accent) h s l / 0.2),
                        inset calc(0.2rem * var(--fill-amount)) 0 calc(0.2rem * var(--fill-amount)) 0 var(--input-accent);
                    filter: brightness(0.8);
                    cursor: grabbing;
                }

                &:focus {
                    outline: none;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: clamp(5%,
                            calc(var(--fill-percentage) * 0.92),
                            90%);
                    height: 100%;
                    border-radius: var(--tiny-border-radius) 0 0 var(--tiny-border-radius);
                    background: var(--input-accent);
                    box-shadow: 0 0 0.2rem 0.1rem var(--shadow-col) inset,
                        -0.1rem 0.1rem 0.1rem -0.1rem var(--cell-bg),
                        0 0 calc(var(--fill-amount) * 0.8rem) 0 var(--input-accent);
                }
            }
        }
    }

    &.string-selector {
        position: relative;
        max-width: 100%;
        border-radius: var(--small-border-radius);

        & .string-selector-label {
            position: relative;
            display: flex;
            align-items: center;
            border-radius: inherit;
            transition: inherit;

            & .string-selector-label-text {
                position: absolute;
                top: calc(50% - (var(--font-s) / 2) - 0.375 * var(--input-padding));
                left: 0;
                z-index: 2;
                height: calc(1.25 * (var(--font-xs) + 0.3755 * var(--input-padding)));
                padding: calc(0.375 * var(--input-padding)) calc(1.25 * var(--input-padding));
                color: var(--text-primary);
                font-size: var(--font-s);
                white-space: nowrap;
                opacity: 0.4;
                pointer-events: none;
                user-select: none;
                transition: inherit;
                transform-origin: left;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                    border-radius: calc(1.25 * var(--small-border-radius)) calc(1.25 * var(--small-border-radius)) 0 0;
                    background: var(--input-bg);
                    box-shadow: inset 0.25rem 0.25rem 0.25rem 0 hsl(from var(--input-bg) h s calc(l * 2) / 0.6),
                        0 0.625rem 0 0 var(--input-bg);
                    opacity: 0;
                    pointer-events: none;
                    transition: inherit;
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    bottom: 0.75rem;
                    z-index: -2;
                    border-radius: calc(1.25 * var(--small-border-radius)) calc(1.25 * var(--small-border-radius)) 0 0;
                    outline: 0.4rem solid var(--alert-error-bg);
                    opacity: 0;
                    pointer-events: none;
                    transition: inherit;
                    transform: scale(0);
                }
            }

            & .string-selector-input {
                overflow: visible;
                width: var(--input-width);
                max-width: 100%;
                height: var(--input-height);
                padding: var(--input-padding);
                border: none;
                border-radius: var(--small-border-radius);
                background-color: var(--input-bg);
                color: var(--text-primary);
                box-shadow: inset 0 0.1rem 1.4rem 0 var(--shadow-col);
                font-size: var(--font-inputs);
                font-family: var(--theme-font);
                transition: inherit;

                &:focus,
                &:hover,
                &:not(:empty),
                &:not(:placeholder-shown) {
                    box-shadow: inset 0 0 0 0 transparent,
                        0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
                        inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 2) / 0.6),
                        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 0.4) / 0.6);

                    & ~ .string-selector-label-text {
                        opacity: 1;
                        transform: translate(1rem,
                                calc((-0.5 * var(--input-height)) - 0.5 * var(--font-xs) + 0.2 * var(--input-padding))) scale(0.8);

                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                z-index: -1;
                border-radius: inherit;
                outline: 0.4rem solid var(--alert-error-bg);
                opacity: 0;
                pointer-events: none;
                transition: inherit;
                transform: scale(0);
            }

            &.invalid::before,
            &.invalid .string-selector-label-text::after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &.string-selector.selector-bar-selector {
        width: 100%;

        & ~ .selector-bar-button {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(var(--input-height) + 0.2rem);
            height: calc(var(--input-height) + 0.2rem);
            border-radius: var(--small-border-radius);
            background: var(--input-secondary);
            box-shadow: inset 0 0.1rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*1.5)), inset -0.1rem -0.1rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*0.4)), 0.2rem 0.2rem 0.2rem 0 var(--shadow-col);
            cursor: pointer;

            & .selector-bar-icon {
                background: var(--input-bg);
                transition: inherit;
            }

            &:hover {
                background: var(--input-bg);
                box-shadow: inset 0.1rem 0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*1.5)), inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*0.4)), 0.3rem 0.3rem 0.2rem 0 var(--shadow-col);

                & .selector-bar-icon {
                    background: var(--input-accent);
                }
            }
        }

        & .selector-bar-input {
            width: 100%;
            will-change: transform;

            &.selector-bar-input {
                padding-right: calc(var(--input-height) + var(--input-padding));
            }
        }
    }

    &.checkbox-selector {
        position: relative;
        width: 100%;

        & .checkbox-label {
            position: relative;
            display: inline-flex;
            flex-flow: row nowrap;
            gap: 1rem;
            align-items: center;
            height: 100%;
            overflow-wrap: break-word;
            cursor: pointer;
            transition-timing-function: ease;
            transition-duration: var(--quick-transition-time);
            transition-property: transform, opacity;
            isolation: isolate;

            &::after {
                content: '';
                position: absolute;
                top: calc(50% - 1rem);
                left: var(--input-padding);
                width: 2rem;
                height: 2rem;
            }

            & .checkbox-input {
                display: none;
            }

            & .checkbox-tick {
                position: relative;
                inset: 0;
                display: flex;
                width: 2rem;
                height: 2rem;
                border: 0.2rem solid var(--input-secondary);
                border-radius: var(--tiny-border-radius);
                background: var(--input-secondary);
                transition: inherit;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    display: block;
                    border-radius: inherit;
                    background: var(--input-bg);
                    opacity: 0;
                    transition: inherit;
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: -0.2rem;
                    border: 0.3rem solid var(--input-accent);
                    border-radius: var(--tiny-border-radius);
                    background: var(--input-accent);
                    opacity: 0;
                    transition: inherit;
                }

                & .checkbox-tick-svg {
                    z-index: 1;
                    fill: none;
                    stroke: var(--input-bg);
                    transition-timing-function: ease;
                    transition-duration: var(--med-transition-time);
                    transition-property: stroke-dasharray, stroke-dashoffset;
                    stroke-dasharray: 20px;
                    stroke-dashoffset: 20px;
                    stroke-linejoin: round;
                    stroke-linecap: round;
                    stroke-width: 0.4rem;
                }
            }

            &:hover .checkbox-tick {
                transform: scale(1.1);

                &::before {
                    opacity: 1;
                }
            }

            & .checkbox-input:checked {
                & ~ .checkbox-tick {
                    & .checkbox-tick-svg {
                        stroke-dashoffset: 0;
                    }

                    &::before {
                        animation: pulse-check var(--med-transition-time) ease forwards;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    max-width: 1rem;
    cursor: grab;
}

::-webkit-scrollbar:horizontal {
    max-height: 1rem;
}

::-webkit-scrollbar-track {
    border-radius: var(--small-border-radius);
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    z-index: 2;
    max-width: 1rem;
    border-radius: var(--small-border-radius);
    background: var(--scrollbar-thumb-col);
    cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(from var(--scrollbar-thumb-col) h s calc(l*1.2));
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-resizer {
    display: none;
}

.button-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    height: var(--input-height);
    transition: inherit;
    transition-duration: var(--quick-transition-time);
}

button {
    min-width: 10rem;
    height: var(--input-height);
    padding: 0 var(--input-padding);
    border: none;
    border-radius: var(--small-border-radius);
    background: var(--input-bg);
    color: inherit;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--shadow-col),
        inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 2) / 0.6),
        inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-bg) h s calc(l * 0.4) / 0.6),
        0 0 0 -0.2rem transparent;
    font-family: var(--theme-font);
    text-transform: uppercase;
    cursor: pointer;
    transition-timing-function: var(--bezier-function);
    transition-duration: var(--quick-transition-time);
    transition-property: filter, scale, transform, opacity;

    &:hover {
        filter: brightness(1.1);
        scale: 1.02;
    }

    &:active {
        background: hsl(from var(--input-bg) h s calc(l * 0.8));
    }

}