.loader {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dashboard-bg);
    pointer-events: all;
    transition: clip-path var(--quick-transition-time) ease;
    clip-path: circle(100% at center);

    & .ball-container {
        position: relative;
        display: inherit;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 25rem;
        height: 10rem;

        & .ball {
            isolation: isolate;

            &:nth-of-type(1) {
                --delay: 0s;
            }

            &:nth-of-type(2) {
                --delay: 0.3s;
            }

            &:nth-of-type(3) {
                --delay: 0.6s;
            }

            &::before {
                content: '';
                display: block;
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                background: var(--text-accent);
                box-shadow: inset 0.5rem -0.5rem 0.5rem var(--shadow-col);
                transform: translateY(-10rem);
                animation: bounce 0.6s var(--bezier-function) infinite alternate var(--delay), bounce-squish 0.6s cubic-bezier(0.8, 0, .57, 1) var(--delay) infinite alternate;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                display: block;
                width: 2rem;
                height: 1rem;
                border-radius: 50%;
                background: var(--shadow-col);
                filter: blur(2px);
                transform: translate(1.5rem, -0.5rem);
                animation: ball-shadow 0.6s var(--bezier-function) infinite alternate var(--delay);
            }
        }
    }
}