smorgas-board panel-element {
    position: fixed;
    top: var(--y);
    left: var(--x);
    overflow: visible;
    width: var(--width);
    height: var(--height);

    /* clip-path: circle(0 at 50% 50%);
        left: 0;
        top: 0; */

    &::before {
        content: '';
        position: absolute;
        inset: 50%;
        border-radius: var(--panel-border-radius);
        opacity: 0;
        pointer-events: none;
        transition: all var(--panel-transition-time) ease;
        backdrop-filter: url("#glass-distortion");
    }

    &::part(panel-body) {
        position: absolute;
        inset: var(--panel-body-inset);
        width: calc(100% - 2 * var(--panel-body-inset));
        height: calc(100% - 2 * var(--panel-body-inset));
        border-radius: var(--panel-border-radius);
        background: var(--panel-bg);
        transition: all var(--panel-transition-time) ease;
        transform: scale(1) rotateZ(0deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        filter: url("#inset-shadow");
    }

    &:hover::part(panel-body) {
        transform: scale(1.02) rotateZ(0deg);
    }

    &::part(panel-body in-motion) {
        transition: all 0s;
        animation: lerp-transition forwards var(--med-transition-time) ease;
    }

    &::part(panel-content) {
        position: absolute;
        inset: var(--panel-content-padding);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--panel-border-radius);
        transition: all var(--panel-transition-time) ease;
        transform: perspective(0.01rem) rotateZ(0) scale(1);
        -webkit-font-smoothing: subpixel-antialiased;
        container-type: inline-size;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    &::part(drag-handle) {
        position: absolute;
        box-sizing: border-box;
        width: 0;
        height: 0;
        padding: 0;
        border-radius: var(--small-border-radius);
        background: hsl(from var(--panel-handle-bg) h s l / 0.6);
        cursor: grab;
        user-select: none;
        transition: var(--quick-transition-time) ease;
        touch-action: none;
    }

    &::part(drag-handle):hover {
        width: var(--square-handle-full-side);
        height: var(--square-handle-full-side);
    }

    &::part(handle):active {
        cursor: grabbing;
    }

    &::part(resize-handle-svg) {
        position: absolute;
        right: -2rem;
        bottom: -2rem;
        width: 8rem;
        height: 8rem;
        pointer-events: none;
    }

    &::part(resize-handle) {
        filter: url("#bottom-inset-shadow") url("#top-inset-shadow");
        cursor: grab;
        pointer-events: visiblestroke;
        fill: none;
        stroke: hsl(from var(--panel-handle-bg) h s l / 1);
        transition: all var(--quick-transition-time) ease;
        stroke-width: 0;
        stroke-dasharray: 1 1000 120;
        stroke-dashoffset: -14;
        stroke-linecap: round;
        r: 2rem;
        cx: 3.5rem;
        cy: 3.5rem;
        backdrop-filter: blur(0.2rem) url("#glass-distortion");
    }

    &::part(resize-handle):hover {
        stroke-width: 3.5rem;
        stroke-dasharray: 60 1000 120;
        stroke-dashoffset: 0;
        r: 4rem;
        cx: 2rem;
        cy: 2rem;
    }

    &::part(resize-handle):active {
        cursor: grabbing;
    }

    &::part(handle-icon) {
        width: 100%;
        pointer-events: none;
    }

    &::part(button-icon) {
        width: 100%;
        background: var(--input-accent);
        pointer-events: none;
    }

    &::part(config) {
        position: absolute;
        inset: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: end;
        overflow: hidden;
        border-radius: inherit;
        font-size: var(--font-s);
        pointer-events: none;
    }

    &::part(icon-button) {
        position: absolute;
        z-index: 2;
        box-sizing: border-box;
        width: 0;
        height: 0;
        padding: 0;
        border-radius: var(--panel-border-radius);
        cursor: pointer;
        pointer-events: all;
        user-select: none;
        transition: var(--panel-transition-time) ease;
        transform-origin: center;
    }

    &::part(config-button) {
        top: 0.5rem;
        right: 0.5rem;
    }

    &::part(config-button):hover {
        transform: rotate(90deg);
    }

    &::part(delete-button) {
        bottom: 0.5rem;
        left: 0.5rem;
        background: var(--input-bg);
    }

    &::part(delete-button-icon) {
        background: var(--alert-error-bg);
    }

    &::part(delete-button):hover {
        animation: shake 0.1s infinite alternate;
    }

    &::part(config-menu) {
        position: absolute;
        inset: 0;
        overflow: auto;
        background: hsl(from var(--panel-bg) h s calc(l * 0.9));
        pointer-events: none;
        transition: all calc(2 * var(--panel-transition-time)) var(--bezier-function);
        clip-path: circle(0% at center);
    }

    &::part(config-menu-line) {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    &::part(save-icon) {
        position: absolute;
        right: var(--panel-content-padding);
        bottom: var(--panel-content-padding);
        background: var(--input-accent);
        opacity: 0;
        filter: drop-shadow(0 0 0.2rem var(--shadow-col));
        pointer-events: none;
    }

    &::part(save-icon visible) {
        opacity: 1;
    }

    &:hover {
        z-index: 2;
    }
}

smorgas-board panel-element:has(::part(resize-handle rendered):hover) {
    background: red;
}

smorgas-board panel-element.being-manipulated {
    z-index: 3;
    cursor: grabbing;

    &::before {
        inset: var(--panel-body-inset);
        opacity: 1;
    }

    &::part(panel-body) {
        background: rgb(from var(--panel-bg) r g b / var(--panel-manip-opacity));
        box-shadow: inset 0.2rem 0.2rem 0.5rem 0.1rem hsl(from var(--panel-bg) h s calc(l * 2) / 0.4), inset -0.2rem -0.2rem 0.5rem 0.1rem hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4);
        filter: drop-shadow(1.5rem 1.5rem 2rem var(--shadow-col));
        pointer-events: none;
        backdrop-filter: blur(1px);
    }

    &::part(panel-content) {
        opacity: calc(var(--panel-manip-opacity) * 0.8);
        filter: blur(1px);
    }

    &::part(handle) {
        cursor: grabbing;
    }

    &::part(config-button) {
        width: 0;
        height: 0;
        padding: 0;
    }

    &.being-dragged {
        transition: all var(--panel-transition-time) ease, left 0s, top 0s;
        scale: 1.1;

        &::part(drag-handle) {
            width: var(--square-handle-full-side);
            height: var(--square-handle-full-side);
            opacity: var(--panel-manip-opacity);
        }

        &::part(resize-handle) {
            width: 0;
            height: 0;
            padding: 0;
        }
    }

    &.being-resized {
        transition: all var(--panel-transition-time) ease, width 0s, height 0s;

        &::part(resize-handle) {
            opacity: var(--panel-manip-opacity);
            stroke-width: 3.5rem;
            stroke-dasharray: 60 1000 120;
            stroke-dashoffset: 0;
            r: 4rem;
            cx: 2rem;
            cy: 2rem;
        }

        &::part(drag-handle) {
            width: 0;
            height: 0;
            padding: 0;
        }
    }
}

smorgas-board panel-element.configuring {
    z-index: 6;

    &::part(handle) {
        width: 0;
        height: 0;
        padding: 0;
    }

    &::part(delete-button) {
        width: 0;
        height: 0;
        padding: 0;
    }

    &::part(panel-body) {
        width: 80vw;
        height: 80vh;
        transform: translate(var(--x-vector), var(--y-vector));
    }

    &::part(config-button) {
        top: 2rem;
        right: 2rem;
        transform: rotate(180deg);
    }

    &::part(config-button):hover {
        transform: rotate(90deg);
    }

    &::part(config-menu) {
        padding: var(--panel-content-padding);
        padding-top: calc(var(--panel-content-padding) * 2);
        pointer-events: all;
        clip-path: circle(100% at center);
    }

}

smorgas-board panel-element.snapping:not(.final-preview) {
    z-index: 1;
    pointer-events: none;
    transition: all var(--panel-transition-time) var(--bezier-function);
}

smorgas-board panel-element.final-preview {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: var(--width);
    height: var(--height);
    border-radius: 2rem;
    background: var(--preview-bg);
    opacity: 0;
    transition: all var(--panel-transition-time) ease, left 0s, top 0s, width 0s, height 0s;

    /* transform: translateX(var(--x)) translateY(var(--y)); */

    &:has(~ .being-dragged),
    &:has(~ .being-resized) {
        opacity: 1;
    }

    &.snapping {
        transition: all var(--panel-transition-time) ease;
    }

    &.visible {
        opacity: 1;
    }
}

@media (hover: hover) {
    smorgas-board panel-element:not(.configuring) {
        &:hover::part(panel-body) {
            filter: drop-shadow(var(--shadow-offset-x) var(--shadow-offset-y) 0.2rem var(--shadow-col));
            transform: scale(1.02) perspective(200rem) rotateX(var(--rotate-x, 0)) rotateY(var(--rotate-y, 0)) rotateZ(0deg);
        }
    }
}