smorgas-board panel-element {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: var(--width);
    height: var(--height);
    border-radius: var(--panel-border-radius);
    transform: translate(var(--x), var(--y));
    transform-origin: center;
    touch-action: none;

    &.final-preview {
        background: var(--preview-bg);
        opacity: 0;

        &.visible {
            opacity: 1;
        }
    }

    & .panel-title {
        color: var(--text-accent);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: var(--panel-border-radius);
        opacity: 0;
        pointer-events: none;
        transition: transform var(--panel-transition-time) ease;
        backdrop-filter: url("#glass-distortion") blur(0.1rem);
    }


    &::part(panel-body) {
        position: absolute;
        inset: var(--panel-body-inset);
        width: calc(100% - 2 * var(--panel-body-inset));
        height: calc(100% - 2 * var(--panel-body-inset));
        border-radius: var(--panel-border-radius);
        background: var(--panel-bg);
        transition-timing-function: ease;
        transition-duration: var(--panel-transition-time);
        transition-property: opacity, transform, filter, width, height;
        transform: perspective(200rem) scale(1) rotateZ(0deg);
        transform-origin: center;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    &::part(panel-body)::before {
        content: '';
        position: absolute;
        inset: -1rem;
        border-radius: inherit;
        background: var(--shadow-col);
        opacity: 0;
        filter: blur(1rem);
        pointer-events: none;
        transition: inherit;
        transform: translateX(var(--shadow-offset-x, 0)) translateY(var(--shadow-offset-y, 0))translateZ(-5rem);
        transform-style: preserve-3d;
    }

    &:hover::part(panel-body)::before {
        opacity: 0.8;
    }


    &::part(panel-body in-motion) {
        transition-duration: 0s;
    }

    &::part(panel-content) {
        position: absolute;
        inset: var(--panel-content-padding);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--panel-border-radius);
        user-select: none;
        transition: inherit;
        transform: perspective(0.01rem) rotateZ(0) scale(1);
        -webkit-font-smoothing: antialiased;
        container-type: inline-size;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    &::part(panel-content)::before {
        content: '';
        position: absolute;
        inset: calc(-1 * var(--panel-content-padding));
        z-index: -1;
        border-radius: inherit;
        background: linear-gradient(45deg,
                transparent 5%,
                var(--cell-bg) 50%,
                transparent 99%);
        opacity: 0;
        transition: inherit;
    }

    &:hover::part(panel-content)::before {
        opacity: 1;
    }

    &::part(panel-content)::after {
        content: '';
        position: absolute;
        inset: calc(-1 * var(--panel-content-padding) + 0.2rem);
        z-index: -1;
        border-radius: inherit;
        background: var(--panel-bg);
        transition: inherit;
    }

    &::part(handle) {
        z-index: 3;
    }

    &::part(drag-handle) {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: var(--square-handle-full-side);
        height: var(--square-handle-full-side);
        border-radius: var(--panel-border-radius);
        background: hsl(from var(--panel-handle-bg) h s l / 0.6);
        cursor: grab;
        user-select: none;
        transition-timing-function: ease;
        transition-duration: var(--quick-transition-time);
        transition-property: transform, opacity, mask-size;
        transform: scale(0);
        touch-action: none;
    }

    &::part(drag-icon) {
        width: 100%;
        height: 100%;
        background: var(--input-accent);
        pointer-events: all;
        transition: inherit;
        mask-size: 0;
    }

    &::part(drag-handle):hover {
        transform: scale(1);
    }

    &::part(drag-icon):hover {
        mask-size: 70%;
    }

    &::part(handle):active {
        cursor: grabbing;
    }

    &::part(resize-handle-svg) {
        position: absolute;
        right: -2rem;
        bottom: -2rem;
        width: 8rem;
        height: 8rem;
        pointer-events: none;
        user-select: none;
    }

    &::part(resize-handle) {
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: grab;
        pointer-events: visiblestroke;
        user-select: none;
        fill: none;
        stroke: hsl(from var(--panel-handle-bg) h s l / 0.7);
        transition-timing-function: ease;
        transition-duration: var(--quick-transition-time);
        transition-property: r, cy, cx, stroke-dashoffset, stroke-dasharray, stroke-width;
        stroke-width: 0;
        stroke-dasharray: 33 90;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        r: 2rem;
        cx: 4rem;
        cy: 4rem;
    }

    &::part(resize-handle):hover {
        stroke-width: 2.5rem;
    }

    &::part(resize-handle):active {
        cursor: grabbing;
    }

    &::part(button-icon) {
        width: 100%;
        background: var(--input-accent);
        pointer-events: none;
    }

    &::part(menu) {
        position: absolute;
        inset: 0;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        overflow: hidden auto;
        padding: calc(var(--panel-content-padding) * 1.6) var(--panel-content-padding);
        border-radius: inherit;
        background: hsl(from var(--panel-bg) h s calc(l * 0.9));
        font-size: var(--font-s);
        pointer-events: none;
        transition: transform calc(2 * var(--panel-transition-time)) var(--bezier-function);
        transform: scale(0);
    }

    &::part(info-menu) {
        list-style: none;
    }

    &::part(info-title) {
        margin-bottom: 2rem;
    }

    &::part(icon-button) {
        position: absolute;
        z-index: 3;
        box-sizing: border-box;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        border-radius: var(--panel-border-radius);
        cursor: pointer;
        pointer-events: all;
        user-select: none;
        transform-origin: center;
    }

    &::part(menu-button) {
        top: 1rem;
        right: 1rem;
        filter: drop-shadow(0 0 0.5rem var(--shadow-col));
        transform: scale(0);
    }

    &::part(menu-button):hover {
        transform: rotate(90deg);
    }

    &::part(delete-button) {
        bottom: -0.5rem;
        left: -0.5rem;
        background: var(--alert-error-bg);
        transform: scale(0);
    }

    &::part(delete-button-icon) {
        background: var(--input-bg);
    }

    &::part(delete-button):hover {
        animation: shake 0.1s infinite alternate;
    }

    &::part(config-menu-line) {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    &::part(save-icon) {
        position: absolute;
        right: var(--panel-content-padding);
        bottom: var(--panel-content-padding);
        z-index: 4;
        background: var(--input-accent);
        opacity: 0;
        pointer-events: none;
    }

    &::part(save-icon-container) {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 0 0.5rem var(--shadow-col));
        pointer-events: none;
    }

    &::part(save-icon visible) {
        opacity: 1;
    }

    &:hover {
        z-index: 2;
    }
}

smorgas-board panel-element.being-manipulated {
    z-index: 3;
    cursor: grabbing;

    &::before {
        inset: var(--panel-body-inset);
        opacity: 1;
    }

    &::part(panel-body) {
        box-shadow: inset 0.2rem 0.2rem 0.5rem 0.1rem hsl(from var(--panel-bg) h s calc(l * 2) / 0.4), inset -0.2rem -0.2rem 0.5rem 0.1rem hsl(from var(--panel-bg) h s calc(l * 0.4) / 0.4), 1.5rem 1.5rem 2rem var(--shadow-col);
        opacity: var(--panel-manip-opacity);
        pointer-events: none;
    }

    &::part(panel-body)::before {
        opacity: 0;
    }

    &::part(panel-content) {
        opacity: calc(var(--panel-manip-opacity) * 0.8);
    }

    &::part(handle) {
        cursor: grabbing;
    }

    &::part(menu-button) {
        transform: scale(0);
    }

    &::part(delete-button) {
        transform: scale(0);
    }

    &.being-dragged {
        &::part(drag-handle) {
            opacity: var(--panel-manip-opacity);
            transform: scale(1);
        }

        &::part(drag-icon) {
            mask-size: 70%;
        }

        &::part(resize-handle) {
            stroke-width: 0;
        }

        &::before,
        &:hover::before,
        &::part(panel-body),
        &:hover::part(panel-body) {
            transform: scale(1.1);
        }
    }

    &.being-resized {
        &::part(resize-handle) {
            opacity: var(--panel-manip-opacity);
            stroke-width: 2.5rem;
        }

        &::part(drag-handle) {
            transform: scale(0);
        }
    }
}

smorgas-board panel-element.configuring {
    z-index: 6;

    &::part(handle) {
        width: 0;
        height: 0;
        padding: 0;
    }

    &::part(delete-button) {
        transform: scale(0);
    }

    &::part(panel-body) {
        width: 80vw;
        width: 80svw;
        height: 80vh;
        height: 80svh;
        transform: translate(var(--x-vector), var(--y-vector));
    }

    &::part(panel-body)::before {
        opacity: 0.8;
    }

    &::part(menu-button) {
        transform: translate(-1rem, 1rem) rotate(180deg);
    }

    &::part(menu-button):hover {
        transform: translate(-1rem, 1rem) rotate(90deg);
    }

    &::part(menu) {
        pointer-events: all;
        transform: scale(1);
    }

}

smorgas-board panel-element.snapping {
    pointer-events: none;
    transition-timing-function: var(--bezier-function);
    transition-duration: var(--panel-transition-time);
    transition-property: opacity, width, height, transform;

    &:not(.final-preview) {
        z-index: 3;
    }

    &.final-preview {
        transition-timing-function: ease;
    }

    &::part(drag-handle),
    &::part(delete-button) {
        transform: scale(0);
    }

    &::part(resize-handle) {
        stroke-width: 0;
    }
}

@media (hover: hover) {
    smorgas-board panel-element:not(.configuring):hover::part(panel-body) {
        transform: perspective(200rem) rotateX(var(--rotate-x, 0)) rotateY(var(--rotate-y, 0)) rotateZ(0deg);
    }
}