panel-element[data-panel-type="NOTEPAD"] {
    &::part(panel-content) {
        flex-direction: column;
        align-items: stretch;
    }

    & textarea {
        height: 100%;
        padding: 1rem;
        border: none;
        border-radius: var(--small-border-radius);
        background: var(--textarea-bg);
        color: var(--text-primary);
        outline: none;
        font-size: var(--font-s);
        font-family: inherit;
        resize: none;
        transition: var(--med-transition-time);
    }

    & textarea:focus {
        background: hsl(from var(--textarea-bg) h s calc(l * 0.9));
    }

    & textarea::placeholder {
        color: var(--text-placeholder);
    }
}

panel-element[data-panel-type="CLOCK"] {
    color: var(--text-primary);

    & time {
        display: block;
        width: 100%;
        height: 100%;
    }

    .date-time {
        position: absolute;
        inset: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border-radius: var(--panel-border-radius);
        font-weight: bold;
        text-align: center;
        resize: horizontal;
        transform-style: preserve-3d;

        & .time {
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            color: var(--text-secondary);
            white-space: nowrap;

            & span {
                display: block;
                width: 100%;
                font-size: clamp(calc(var(--font-m) * 0.6), var(--font-m), 50cqw * var(--size-coeff, 1));
            }
        }

        & .date span {
            display: block;
            width: 100%;
            color: var(--text-accent);
            font-size: clamp(calc(var(--font-s) * 0.8), var(--font-s), 8cqw);
        }
    }
}

panel-element[data-panel-type="PHOTO"] {
    & .drop-area {
        position: absolute;
        inset: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: var(--panel-content-padding);
        border: 0.8rem dashed var(--input-secondary);
        border-radius: var(--small-border-radius);
        text-align: center;
        filter: drop-shadow(0 0 0 var(--input-secondary));
        resize: horizontal;
        transition: var(--quick-transition-time) ease;

        & input[type="file"] {
            display: none;
        }

        & .image-upload {
            display: inline-block;
            width: 8rem;
            min-width: 2rem;
            max-width: 40%;
            height: 8rem;
            min-height: 2rem;
            max-height: 40%;
            color: var(--input-accent);
            filter: drop-shadow(inset 0 0 0.5rem 0 var(--shadow-col));
            cursor: pointer;
            transition: inherit;

            &:hover .upload-icon {
                transform: scale(1.1);
            }

            & .image-drop-icon {
                width: 100%;
                height: 100%;
                background: var(--input-secondary);
                transition: inherit;
            }

            &:hover .image-drop-icon {
                background: var(--input-accent);
            }
        }

        & .drop-area-text {
            user-select: none;
            will-change: transform;

            &.drop-area-info {
                font-style: italic;
                font-size: clamp(calc(var(--font-s) * 0.7), var(--font-s), 10cqw);
            }

            &.drop-area-subinfo {
                font-size: clamp(calc(var(--font-xs) * 0.7), var(--font-xs), 10cqw);
                text-align: left;
            }
        }

        & .info-and-input {
            display: flex;
            flex-flow: row nowrap;
            gap: 1rem;
            align-items: center;
        }

        &.active {
            border-radius: calc(var(--small-border-radius) * 3);
            filter: drop-shadow(0 0 1rem var(--input-secondary));
        }

        &:has(~ .panel-image.filled) {
            opacity: 0;
        }
    }

    & .panel-image {
        position: absolute;
        inset: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: calc(0.7 * var(--panel-border-radius));
        pointer-events: none;

        &:not(.filled) {
            opacity: 0;
        }
    }
}

panel-element[data-panel-type="TODO"] {
    & .todo-container {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
        width: 100%;
        height: 100%;
        border-radius: var(--small-border-radius);
        background: var(--panel-bg);

        & .todo-list-title-bar,
        & .todo-list-add-bar {
            top: 0;
            display: flex;
            flex-flow: row nowrap;
            gap: 2rem;
            align-items: center;
            will-change: transform;

            &.todo-list-add-bar {
                & .add-todo-task-button {
                    position: absolute;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: var(--input-height);
                    height: var(--input-height);
                    border-radius: var(--small-border-radius);
                    background: var(--input-secondary);
                    box-shadow: inset 0.1rem 0.1rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*1.5)), inset -0.1rem -0.1rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*0.4)), 0.2rem 0.2rem 0.2rem 0 var(--shadow-col);
                    cursor: pointer;

                    & .add-icon {
                        background: var(--input-bg);
                        transition: inherit;
                    }

                    &:hover {
                        background: var(--input-bg);
                        box-shadow: inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*1.5)), inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*0.4)), 0.3rem 0.3rem 0.2rem 0 var(--shadow-col);

                        & .add-icon {
                            background: var(--input-accent);
                            transform: rotate(90deg);
                        }
                    }
                }

                & .string-selector,
                & .string-selector-input {
                    width: 100%;
                    will-change: transform;

                    &.string-selector-input {
                        padding-right: calc(var(--input-height) + var(--input-padding));
                    }

                    & .string-selector-label-text {
                        top: calc(50% - 0.6 * var(--font-s));
                    }
                }

            }
        }

        & .todo-list {
            overflow-y: auto;
            width: 100%;
            list-style-type: none;

            & .todo-list-entry {
                position: relative;
                display: flex;
                gap: 2rem;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
                width: 100%;
                padding: 0 var(--panel-content-padding);
                border-top: 0.2rem solid var(--cell-bg);
                user-select: none;
                transition: all var(--med-transition-time) ease;

                & .checkbox-label {
                    width: 100%;
                }

                & .todo-list-entry-text {
                    position: relative;
                    max-width: calc(100% - 3rem);
                    font-size: var(--font-s);
                    overflow-wrap: break-word;
                    hyphens: auto;
                    transition: inherit;
                    transform: rotateZ(0deg);
                    backface-visibility: hidden;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        display: block;
                        width: 0;
                        height: 0.2rem;
                        background: currentcolor;
                        transition: inherit;
                    }
                }

                & .x-icon {
                    position: absolute;
                    right: calc(var(--panel-content-padding) - 1rem);
                    width: 0;
                    min-width: 0;
                    height: 0;
                    min-height: 0;
                    margin: 0;
                    margin-left: auto;
                    cursor: pointer;
                    pointer-events: all;
                    transition: all var(--med-transition-time) ease;

                    &:hover {
                        background: var(--alert-error-bg);
                        transform: scale(1.1);
                    }
                }

                &:first-of-type {
                    border-top: none;
                }

                &:is(.in-edit-mode .todo-list-entry) {
                    & .selector {
                        padding-right: calc(var(--panel-content-padding) + 1.5rem);
                    }

                    & .x-icon {
                        width: 2rem;
                        min-width: 2rem;
                        height: 2rem;
                        min-height: 2rem;
                    }
                }

                & .checkbox-input:checked {
                    & ~ .todo-list-entry-text {
                        color: var(--cell-bg);

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }

    }
}

panel-element[data-panel-type="WEATHER"] {
    .weather-container {
        position: relative;
        display: flex;
        flex-flow: column;
        gap: 1rem;
        width: 100%;
        height: 100%;
        isolation: isolate;

        & .weather-bar {
            display: flex;
            flex-flow: row nowrap;
            gap: 2rem;
            align-items: center;

            & .location-search-button:hover .search-icon {
                transform: scale(1.2);
            }

            & .location-search-button:not(.location-search-button:hover, .location-search-selector.visible ~ .location-search-button) {
                width: 2rem;
                background: none;
                box-shadow: none;

                & .search-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-top: 100%;
                    background: var(--input-accent);
                }
            }

            &.weather-search-bar {
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 1;
                width: 100%;
                height: var(--input-height);
                transition: all var(--quick-transition-time) var(--bezier-function);
                isolation: isolate;

                &:has(.location-search-selector:not(.visible)) {
                    width: 0;
                }

                & .location-search-selector {
                    position: absolute;
                    right: 0;
                    transition: all var(--quick-transition-time) var(--bezier-function);
                    will-change: transform;

                    & .string-selector-label,
                    & .location-search-input {
                        transition: inherit;
                        transform-origin: 100% 50%;
                    }

                    & .string-selector-label-text {
                        filter: drop-shadow(0 0 0.5rem var(--shadow-col));
                        transition: all var(--quick-transition-time) var(--bezier-function), border var(--med-transition-time) var(--jelly-function);
                        clip-path: inset(-100% -100% -30% -100%);
                    }
                }

                & .location-search-selector:not(.visible) {
                    width: 3rem;

                    & .location-search-input {
                        padding: 0;
                        transform: translate(-1rem);
                    }

                    & .string-selector-label-text {
                        clip-path: inset(0 140% -30% 0);
                    }
                }

                & .location-search-results {
                    position: absolute;
                    bottom: calc(100% - var(--input-padding));
                    z-index: -1;
                    overflow-y: auto;
                    width: 100%;
                    max-height: calc(var(--height) - 7rem);
                    border-radius: var(--small-border-radius);
                    background: var(--input-bg);
                    list-style: none;
                    filter: drop-shadow(0 0.2rem 0.2rem var(--shadow-col));
                    will-change: transform;

                    & .location-search-result {
                        padding: calc(var(--panel-content-padding) * 0.7) var(--panel-content-padding);
                        border-top: 0.1rem solid var(--cell-bg);
                        cursor: pointer;
                        transition: all var(--med-transition-time) ease;

                        &:first-of-type {
                            border-top: none;
                            border-start-start-radius: inherit;
                            border-start-end-radius: inherit;
                        }

                        &:last-of-type {
                            padding-bottom: calc(var(--panel-content-padding) * 1.7);
                            border-end-start-radius: inherit;
                            border-end-end-radius: inherit;
                        }

                        &:hover {
                            background: var(--cell-bg);
                        }
                    }
                }
            }
        }

        & .focused-location {
            position: absolute;
            inset: 0;
            z-index: 2;
            width: calc(100% + 1rem);
            height: calc(100% + 1rem);
            background: var(--panel-bg);
            transition: all var(--med-transition-time) ease;
            clip-path: circle(0% at center);

            & .weather-info-section {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                border: 0.1rem solid var(--border-subtle);
                border-radius: var(--small-border-radius);
                background: var(--input-bg);
                font-size: 1.2rem;
                user-select: none;
            }

            & ::-webkit-scrollbar-track {
                margin-top: 3rem;
            }

            & .location-container {
                position: relative;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                overflow: hidden auto;
                width: 100%;
                height: 100%;
            }

            & .close-focus-button {
                position: absolute;
                top: -0.5rem;
                left: -1rem;
                padding: 1rem;
                border-radius: var(--small-border-radius);
                background: var(--panel-bg);
                transform: rotate(180deg);
            }

            &.visible {
                clip-path: circle(100% at center);
            }

            & .preview-header {
                display: none;
                justify-content: space-between;
                align-items: center;
                width: calc(100% - 3rem);
                margin-bottom: 1rem;
                margin-left: auto;
                padding: 0.4rem 1rem;
                border-radius: var(--small-border-radius);
                background: var(--shadow-col);

                &.visible {
                    display: flex;
                }
            }

            & .info-header {
                display: flex;
                flex-flow: row nowrap;
                gap: 0.5rem;
                justify-content: space-between;
                align-items: center;
                max-width: 100%;

                & .location-info {
                    max-width: 50%;

                    & .location-city {
                        margin-bottom: 0;
                        color: var(--text-accent);
                        font-size: var(--font-sm);
                        overflow-wrap: break-word;
                        hyphens: auto;
                    }

                    & .location-subtitle {
                        font-weight: normal;
                        font-size: var(--font-xs);
                    }

                    & .location-time {
                        font-weight: normal;
                    }
                }

                & .weather-overview {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    width: 100%;

                    & .temperature {
                        font-size: calc(0.75 * var(--font-m));
                    }

                    & .condition {
                        width: calc(100% - 1rem);
                    }

                    & .condition-icon {
                        object-fit: cover;
                    }
                }

                &:not(.preview-header.visible ~ .info-header) > .location-info > .location-city,
                &:not(.preview-header.visible ~ .info-header) {
                    margin-top: 1.6rem;
                }
            }

            & .weather-info {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: auto;
                gap: 0.5rem;
                padding: 0.5rem;
                font-weight: normal;

                & .info-section-title {
                    color: var(--text-secondary);
                    font-weight: bold;
                    text-transform: uppercase;
                    font-variation-settings: "wdth" 40;

                    &:not(.top-title) {
                        width: min-content;
                    }
                }

                & .weather-info-section.forecast-section {
                    flex-flow: column;
                    grid-row: span 3;
                    grid-column: span 2;

                    & .forecast-entries {
                        display: flex;
                        flex-flow: row nowrap;
                        gap: 2rem;
                        justify-content: flex-start;
                        overflow-x: auto;
                        width: 100%;
                        height: 100%;
                        padding: inherit;
                        list-style: none;

                        & .forecast-entry {
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                            align-items: center;

                            & .forecast-time {
                                white-space: nowrap;
                            }

                            & .forecast-temp {
                                font-weight: bold;
                                font-size: var(--font-s);
                            }
                        }
                    }
                }

                & .weather-info-section.astrology-section {
                    --astro-icon: var(--moon-icon);
                    --astro-bg: var(--sun-col);
                    grid-row: span 2;
                    grid-column: span 2;
                    gap: 5rem;
                    justify-content: space-around;
                    padding: 2rem 1rem;

                    &::before {
                        content: '';
                        position: absolute;
                        left: calc(50% - 3rem);
                        display: block;
                        width: 6rem;
                        height: 6rem;
                        border: 0.3rem solid;
                        border-color: var(--cell-bg) var(--shadow-col) var(--shadow-col) var(--cell-bg);
                        border-radius: 50%;
                        transform: rotate(45deg);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: calc(50% - 4rem);
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        background: var(--astro-bg);
                        transform: rotate(var(--day-progress, 0deg));
                        transform-origin: 4rem;
                        mask: var(--astro-icon) no-repeat center;
                        mask-size: contain;
                    }

                    & .astrology-time-entry {
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 1rem;
                        justify-content: space-around;
                        align-items: center;
                        height: 100%;
                    }
                }
            }
        }

        & .saved-location-list {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            overflow-y: auto;
            list-style-type: none;

            &::-webkit-scrollbar-track {
                margin-bottom: 2rem;
            }

            & .saved-location {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                gap: 1rem;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                border-radius: var(--small-border-radius);
                cursor: pointer;
                transition: all var(--quick-transition-time) ease;

                & .location-title {
                    margin-right: auto;
                    color: var(--text-secondary);
                    font-size: var(--font-s);
                }

                & .location-weather {
                    display: flex;
                    flex-flow: column;
                    align-items: flex-end;

                    & .location-current {
                        display: flex;
                        gap: 1rem;
                        align-items: baseline;
                    }

                    & .location-temp {
                        color: var(--text-secondary);
                        font-size: var(--font-s);
                    }

                    & .location-max-min {
                        display: flex;
                        gap: 1rem;
                        font-size: var(--font-xs);
                    }

                    & .temp-label {
                        color: var(--text-secondary);
                    }
                }

                & .remove-location-icon {
                    position: absolute;
                    right: calc(var(--panel-content-padding) - 0.5rem);
                    width: 0;
                    min-width: 0;
                    height: 0;
                    min-height: 0;
                    margin: 0;
                    margin-left: auto;
                    cursor: pointer;
                    pointer-events: all;
                    transition: all var(--med-transition-time) ease;

                    &:hover {
                        background: var(--alert-error-bg);
                        transform: scale(1.1);
                    }
                }

                &:hover {
                    background: var(--cell-bg);
                }

                &:is(.in-edit-mode .saved-location) {
                    padding-right: calc(var(--panel-content-padding) + 2.5rem);

                    & .x-icon {
                        width: 2rem;
                        min-width: 2rem;
                        height: 2rem;
                        min-height: 2rem;
                    }
                }
            }
        }
    }
}