panel-element[data-panel-type="NOTEPAD"] {
    &::part(panel-content) {
        flex-direction: column;
        align-items: stretch;
    }

    & textarea {
        height: 100%;
        padding: 1rem;
        border: none;
        border-radius: var(--small-border-radius);
        background: var(--textarea-bg);
        color: var(--text-col);
        outline: none;
        font-size: var(--small-font);
        font-family: inherit;
        resize: none;
        transition: var(--med-transition-time);
    }

    & textarea:focus {
        background: hsl(from var(--textarea-bg) h s calc(l * 0.9));
    }

    & textarea::placeholder {
        color: lch(from var(--text-col) calc(l*0.8) c h);
    }

    /* &:is(.in-edit-mode panel-element[data-panel-type="NOTEPAD"]) textarea {
        opacity: 0.8;
    } */
}

panel-element[data-panel-type="CLOCK"] {
    color: var(--text-col);

    & time {
        display: block;
        width: 100%;
        height: 100%;
    }

    .date-time {
        position: absolute;
        inset: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border-radius: var(--panel-border-radius);
        text-align: center;
        resize: horizontal;
        transform-style: preserve-3d;

        & .date {
            & span {
                display: block;
                width: 100%;
                font-size: clamp(calc(var(--small-font) * 0.8), var(--small-font), 8cqw);
            }
        }

        & .time {
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            white-space: nowrap;

            & span {
                display: block;
                width: 100%;
                font-size: clamp(calc(var(--med-font) * 0.6), var(--med-font), 50cqw * var(--size-coeff, 1));
            }
        }
    }
}

panel-element[data-panel-type="PHOTO"] {
    & .drop-area {
        position: absolute;
        inset: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: var(--panel-content-padding);
        border: 0.8rem dashed var(--input-secondary);
        border-radius: var(--small-border-radius);
        text-align: center;
        filter: drop-shadow(0 0 0 var(--input-secondary));
        resize: horizontal;
        transition: var(--quick-transition-time) ease;

        & input[type="file"] {
            display: none;
        }

        & .image-upload-input {
            display: inline-block;
            width: 8rem;
            min-width: 2rem;
            max-width: 40%;
            height: 8rem;
            min-height: 2rem;
            max-height: 40%;
            color: var(--input-accent);
            filter: drop-shadow(inset 0 0 0.5rem 0 var(--shadow-col));
            cursor: pointer;
            transition: inherit;

            &:hover .upload-icon {
                transform: scale(1.1);
            }

            & .image-drop-icon {
                width: 100%;
                height: 100%;
                background: var(--input-secondary);
                transition: inherit;
            }

            &:hover .image-drop-icon {
                background: var(--input-accent);
            }
        }

        & .drop-area-text {
            user-select: none;
            will-change: transform;

            &.drop-area-info {
                font-style: italic;
                font-size: clamp(calc(var(--small-font) * 0.7), var(--small-font), 10cqw);
            }

            &.drop-area-subinfo {
                font-size: clamp(calc(var(--sub-font) * 0.7), var(--sub-font), 10cqw);
                text-align: left;
            }
        }

        & .info-and-input {
            display: flex;
            flex-flow: row nowrap;
            gap: 1rem;
            align-items: center;
        }

        &.active {
            border-radius: calc(var(--small-border-radius) * 3);
            filter: drop-shadow(0 0 1rem var(--input-secondary));
        }

        &:has(~ .panel-image.filled) {
            opacity: 0;
        }
    }

    & .panel-image {
        position: absolute;
        inset: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: calc(0.7 * var(--panel-border-radius));
        pointer-events: none;

        &:not(.filled) {
            opacity: 0;
        }
    }
}

panel-element[data-panel-type="TODO"] {
    & .todo-container {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
        width: 100%;
        height: 100%;
        border-radius: var(--small-border-radius);
        background: var(--panel-bg);

        & .todo-list-title-bar,
        & .todo-list-add-bar {
            top: 0;
            display: flex;
            flex-flow: row nowrap;
            gap: 2rem;
            align-items: center;
            will-change: transform;

            &.todo-list-add-bar {
                & .add-todo-task-button {
                    position: absolute;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: var(--input-height);
                    height: var(--input-height);
                    border-radius: var(--small-border-radius);
                    background: var(--input-secondary);
                    box-shadow: inset 0.1rem 0.1rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*1.5)), inset -0.1rem -0.1rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*0.4)), 0.2rem 0.2rem 0.2rem 0 var(--shadow-col);
                    cursor: pointer;

                    & .add-icon {
                        background: var(--input-bg);
                        transition: inherit;
                    }

                    &:hover {
                        background: var(--input-bg);
                        box-shadow: inset 0.2rem 0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*1.5)), inset -0.2rem -0.2rem 0.2rem 0 hsl(from var(--input-secondary) h s calc(l*0.4)), 0.3rem 0.3rem 0.2rem 0 var(--shadow-col);

                        & .add-icon {
                            background: var(--input-accent);
                            transform: rotate(90deg);
                        }
                    }
                }

                & .string-selector,
                & .string-selector-input {
                    width: 100%;
                    will-change: transform;

                    &.string-selector-input {
                        padding-right: calc(var(--input-height) + var(--input-padding));
                    }

                    & .string-selector-label-text {
                        top: calc(50% - 0.6 * var(--small-font));
                    }
                }

            }
        }

        & .todo-list {
            overflow-y: auto;
            width: 100%;
            list-style-type: none;

            & .todo-list-entry {
                position: relative;
                display: flex;
                gap: 2rem;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
                width: 100%;
                padding: 0 var(--panel-content-padding);
                border-top: 0.2rem solid var(--cell-bg);
                user-select: none;
                transition: all var(--med-transition-time) ease;

                & .checkbox-label {
                    width: 95%;
                }

                & .todo-list-entry-text {
                    position: relative;
                    max-width: 90%;
                    font-size: var(--small-font);
                    overflow-wrap: break-word;
                    hyphens: auto;
                    transition: inherit;
                    transform: rotateZ(0deg);
                    backface-visibility: hidden;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        display: block;
                        width: 0;
                        height: 0.2rem;
                        background: currentcolor;
                        transition: inherit;
                    }
                }

                & .x-icon {
                    position: absolute;
                    right: calc(var(--panel-content-padding) - 1rem);
                    width: 0;
                    min-width: 0;
                    height: 0;
                    min-height: 0;
                    margin: 0;
                    margin-left: auto;
                    cursor: pointer;
                    pointer-events: all;
                    transition: all var(--med-transition-time) ease;

                    &:hover {
                        background: var(--alert-error-bg);
                        transform: scale(1.1);
                    }

                }

                &:first-of-type {
                    border-top: none;
                }

                &:is(.in-edit-mode .todo-list-entry) {
                    padding-right: calc(var(--panel-content-padding) + 1.5rem);

                    & .x-icon {
                        width: 2rem;
                        min-width: 2rem;
                        height: 2rem;
                        min-height: 2rem;
                    }
                }

                & .checkbox-input:checked {
                    & ~ .todo-list-entry-text {
                        color: var(--cell-bg);

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }

    }
}