<body>
    <template id="base-panel-template">
        <head>
            <link rel="stylesheet" href="styles/app.css" />
        </head>
        <div class="panel-body" part="panel-body">
            <div class="panel-content" part="panel-content">
                <slot name="panel-type-template"></slot>
                <div class="skeleton">
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                    <div class="placeholder"></div>
                </div>
            </div>
            <div
                class="icon-button menu-button"
                part="menu-button icon-button"
                hidden
            >
                <div
                    class="icon config-icon menu-button-icon button-icon"
                    part="menu-button-icon button-icon config-icon"
                ></div>
            </div>
            <div class="menu" part="menu" hidden>
                <div class="config" part="menu-section" hidden>
                    <h2 class="menu-title config-title">Options</h2>
                    <div class="config-menu" part="config-menu"></div>
                </div>
                <div class="info" part="menu-section" hidden>
                    <h2 class="menu-title info-title" part="info-title">
                        Information
                    </h2>
                    <ul class="info-menu" part="info-menu"></ul>
                </div>
            </div>
            <div
                class="delete-button icon-button"
                part="delete-button icon-button"
            >
                <div
                    class="icon delete-icon delete-button-icon button-icon"
                    part="delete-button-icon button-icon delete-icon"
                ></div>
            </div>
            <div class="handles">
                <div
                    class="handle drag-handle glassy"
                    part="handle drag-handle"
                >
                    <div
                        class="icon drag-icon drag-handle-icon handle-icon"
                        part="drag-handle-icon handle-icon drag-icon"
                    ></div>
                </div>
                <svg
                    class="corner handle resize-handle-svg"
                    part="handle resize-handle-svg"
                    width="200"
                    height="200"
                >
                    <circle
                        class="corner-arc rendered resize-handle"
                        part="resize-handle rendered"
                    />
                </svg>
            </div>
            <div class="save-icon-container" part="save-icon-container">
                <div class="icon save-icon" part="icon save-icon"></div>
            </div>
        </div>
    </template>
</body>
